interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v1/objects/demo/spaces?include=custom
  response:
    body:
      string: '{"status":200,"data":[{"id":"value1","name":"value2","description":"abcd","custom":null,"created":"2019-08-12T22:57:54.167167Z","updated":"2019-08-12T22:57:54.167167Z","eTag":"AaHahZqsyr6AOg"},{"id":"QVHNASRBFJ","name":"KYTGVPDKKX","description":"JEGUOMRNUK","custom":null,"created":"2019-08-18T12:09:59.72272Z","updated":"2019-08-18T12:09:59.72272Z","eTag":"AceoluqQlcyqyQE"},{"id":"WQQUUGJPCV","name":"ZMKFUWNNHT","description":null,"custom":null,"created":"2019-08-18T12:10:00.227479Z","updated":"2019-08-18T12:10:00.227479Z","eTag":"Aam4p9bSz4e6ZA"},{"id":"DODWRIZUPN","name":"YUOZNNNOCI","description":null,"custom":{"info":"YVKCALSJ","text":"JBMGASPFHZ","uncd":"?=!!=!?+"},"created":"2019-08-18T12:10:00.574818Z","updated":"2019-08-18T12:10:00.574818Z","eTag":"AdaR5aWmr4DPKw"},{"id":"GSMKNDROTG","name":"ZZEZRCQMXB","description":null,"custom":null,"created":"2019-08-18T12:10:01.005708Z","updated":"2019-08-18T12:10:01.005708Z","eTag":"AfGkmNjMhu/YUQ"},{"id":"EQHWQCYDSO","name":"ENNXGHTAXO","description":null,"custom":{"info":"IYSHJXBK","text":"HYIZPJRLQE","uncd":"++=?++-="},"created":"2019-08-18T12:10:01.54778Z","updated":"2019-08-18T12:10:01.54778Z","eT[...]
