interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v1/objects/demo/spaces/in_space?include=custom
  response:
    body:
      string: '{"status":200,"data":{"id":"in_space","name":"some_name","description":null,"custom":{"a":3},"created":"2019-08-19T21:24:47.720337Z","updated":"2019-08-19T21:24:47.720337Z","eTag":"AYfFv4PUk4yMOg"}}'
    headers:
      Content-Type: application/json
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - http
        - ps.pndsn.com
        - /v1/objects/demo/spaces/in_space
        - include=custom&pnsdk=PubNub-Python-Asyncio%2F4.1.0&uuid=51ba448e-4a65-424f-a1ec-27fb53cf6d6d
        - ''
version: 1
