interactions:
- request:
    body: !!python/unicode 
    headers:
    method: GET
    uri: http://ps.pndsn.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/twisted-test?pnsdk=PubNub-Python-Twisted%2F4.0.4
  response:
    body: {string: !!python/unicode '{"status": 200, "message": "OK", "service": "Presence",
        "uuids": ["00de2586-7ad8-4955-b5f6-87cae3215d02"], "occupancy": 1}'}
    headers: !!python/object:twisted.web.http_headers.Headers
      _rawHeaders:
        user-agent: [PubNub-Python-Twisted/4.0.4]
    status: {code: 200, message: ''}
    url: http://ps.pndsn.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/twisted-test?pnsdk=PubNub-Python-Twisted%2F4.0.4&uuid=9c7b940a-e5c7-42d5-af9b-c6ddcf58bdc9
version: 1
