interactions:
- request:
    body: '{}'
    headers:
      Content-type:
      - application/json
    method: PUT
    uri: https://test.ps.pn/v3/objects/sub-c-test/spaces/EuclideanSpace?uuid=uuid-mock
  response:
    body:
      string: '{"data":{"custom":null,"description":"","externalId":"","id":"EuclideanSpace","name":"","status":"","type":""},"status":200}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-type:
      - application/json
    method: PUT
    uri: https://test.ps.pn/v3/objects/sub-c-test/spaces/BanachSpace?uuid=uuid-mock
  response:
    body:
      string: '{"data":{"custom":null,"description":"","externalId":"","id":"BanachSpace","name":"","status":"","type":""},"status":200}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-type:
      - application/json
    method: PUT
    uri: https://test.ps.pn/v3/objects/sub-c-test/spaces/HausdorffSpace?uuid=uuid-mock
  response:
    body:
      string: '{"data":{"custom":null,"description":"","externalId":"","id":"HausdorffSpace","name":"","status":"","type":""},"status":200}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://test.ps.pn/v3/objects/sub-c-test/spaces?uuid=uuid-mock
  response:
    body:
      string: '{"data":[{"custom":null,"description":"","externalId":"","id":"BanachSpace","name":"","status":"","type":""},{"custom":null,"description":"","externalId":"","id":"EuclideanSpace","name":"","status":"","type":""},{"custom":null,"description":"","externalId":"","id":"HausdorffSpace","name":"","status":"","type":""}],"status":200}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://test.ps.pn/v3/objects/sub-c-test/spaces/HausdorffSpace?uuid=uuid-mock
  response:
    body:
      string: '{"status":200}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
