interactions:
- request:
    body: '{"name": "Trekkies Fan Space", "description": "Live Long and Prosper",
      "custom": {"Leader": "Cpt. James ''Jim'' Tiberius Kirk"}, "status": "fanclub",
      "type": "nerdy"}'
    headers:
      Content-type:
      - application/json
    method: POST
    uri: https://test.ps.pn/v3/objects/sub-c-test/spaces/Trekkie?uuid=uuid-mock
  response:
    body:
      string: '{"data":{"custom":{"Leader":"Cpt. James ''Jim'' Tiberius Kirk"},"description":"Live
        Long and Prosper","externalId":"","id":"Trekkie","name":"Trekkies Fan Space","status":"fanclub","type":"nerdy"},"status":200}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://test.ps.pn/v3/objects/sub-c-test/spaces?uuid=uuid-mock
  response:
    body:
      string: '{"data":[{"custom":{"Leader":"Cpt. James ''Jim'' Tiberius Kirk"},"description":"Live
        Long and Prosper","externalId":"","id":"Trekkie","name":"Trekkies Fan Space","status":"fanclub","type":"nerdy"}],"status":200}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://test.ps.pn/v3/objects/sub-c-test/spaces/Trekkie?uuid=uuid-mock
  response:
    body:
      string: '{"status":200}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
