interactions:
- request:
    body: '{"name": "Trekkies Fan Space", "description": "Live Long and Prosper",
      "custom": {"Leader": "Cpt. James ''Jim'' Tiberius Kirk"}, "status": "fanclub",
      "type": "nerdy"}'
    headers:
      Content-type:
      - application/json
    method: PATCH
    uri: https://test.ps.pn/v3/objects/sub-c-test/spaces/Trekkie?uuid=uuid-mock
  response:
    body:
      string: '{"error":{"message":"Requested resource does not exists.","source":"metadata"},"status":404}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: DELETE
    uri: https://test.ps.pn/v3/objects/sub-c-test/spaces/Trekkie?uuid=uuid-mock
  response:
    body:
      string: '{"status":200}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
