interactions:
- request:
    body: '{"id": "in_space", "name": "some_name", "custom": {"a": 3}}'
    headers:
    method: POST
    uri: http://ps.pndsn.com/v1/objects/demo/spaces?include=custom
  response:
    body:
      string: '{"status":200,"data":{"id":"in_space","name":"some_name","description":null,"custom":{"a":3},"created":"2019-08-19T21:14:43.478021Z","updated":"2019-08-19T21:14:43.478021Z","eTag":"AYfFv4PUk4yMOg"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
