interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v1/objects/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/spaces
  response:
    body:
      string: "{\n  \"data\": [\n    {\n      \"created\": \"2019-02-20T23:11:20.893755\"\
        ,\n      \"custom\": null,\n      \"description\": \"A space that is mine\"\
        ,\n      \"eTag\": \"RTc1NUQwNUItREMyNy00Q0YxLUJCNDItMEZDMTZDMzVCN0VGCg==\"\
        ,\n      \"id\": \"my-channel\",\n      \"name\": \"My space\",\n      \"\
        updated\": \"2019-02-20T23:11:20.893755\"\n    },\n    {\n      \"created\"\
        : \"2019-02-20T23:11:20.893755\",\n      \"custom\": {\n        \"motd\":\
        \ \"Always check your spelling!\",\n        \"public\": true\n      },\n \
        \     \"description\": \"The main space\",\n      \"eTag\": \"RTc1NUQwNUItREMyNy00Q0YxLUJCNDItMEZDMTZDMzVCN0VGCg==\"\
        ,\n      \"id\": \"main\",\n      \"name\": \"Main space\",\n      \"updated\"\
        : \"2019-02-20T23:11:20.893755\"\n    }\n  ],\n  \"next\": \"MUIwQTAwMUItQkRBRC00NDkyLTgyMEMtODg2OUU1N0REMTNBCg==\"\
        ,\n  \"prev\": \"M0FFODRENzMtNjY2Qy00RUExLTk4QzktNkY1Q0I2MUJFNDRCCg==\",\n\
        \  \"status\": 200,\n  \"totalCount\": 9\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
