interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v1/objects/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/spaces/my-chanel?include=%5B%22description%22%2C+%22name%22%2C+%22created%22%2C+%22updated%22%2C+%22eTag%22%5D
  response:
    body:
      string: "{\n  \"data\": {\n    \"created\": \"2019-02-20T23:11:20.893755\",\n\
        \    \"description\": \"A space that is mine\",\n    \"eTag\": \"RTc1NUQwNUItREMyNy00Q0YxLUJCNDItMEZDMTZDMzVCN0VGCg==\"\
        ,\n    \"id\": \"my-channel\",\n    \"name\": \"My space\",\n    \"updated\"\
        : \"2019-02-20T23:11:20.893755\"\n  },\n  \"status\": \"ok\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
