interactions:
- request:
    body: '{"description": "desc"}'
    headers:
    method: PATCH
    uri: http://ps.pndsn.com/v1/objects/demo/spaces/in_space?include=custom
  response:
    body:
      string: '{"status":200,"data":{"id":"in_space","name":"some_name","description":"desc","custom":{"a":3},"created":"2019-08-19T21:14:43.478021Z","updated":"2019-08-19T21:17:16.324888Z","eTag":"Ad/T8bjmyoKQWw"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
