interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://pubsub.pubnub.com/v1/channel-registration/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel-group/subscribe-test-group?add=subscribe-test-channel&pnsdk=PubNub-Python-Tornado%2F4.0.0
  response:
    body: {string: '{"status": 200, "message": "OK", "service": "channel-registry",
        "error": false}'}
    headers:
    - !!python/tuple
      - Date
      - ['Wed, 10 Aug 2016 16:20:24 GMT']
    - !!python/tuple
      - Cache-Control
      - [no-cache]
    - !!python/tuple
      - Content-Type
      - [text/javascript; charset="UTF-8"]
    - !!python/tuple
      - Accept-Ranges
      - [bytes]
    - !!python/tuple
      - Content-Length
      - ['79']
    - !!python/tuple
      - Access-Control-Allow-Origin
      - ['*']
    - !!python/tuple
      - Server
      - [Pubnub]
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Age
      - ['0']
    - !!python/tuple
      - Access-Control-Allow-Methods
      - [GET]
    status: {code: 200, message: OK}
    url: http://pubsub.pubnub.com/v1/channel-registration/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel-group/subscribe-test-group?add=subscribe-test-channel&pnsdk=PubNub-Python-Tornado%2F4.0.0&uuid=test-subscribe-messenger
- request:
    body: null
    headers:
    method: GET
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/,/0?channel-group=subscribe-test-group%2Csubscribe-test-group-pnpres&pnsdk=PubNub-Python-Tornado%2F4.0.0&tt=0
  response:
    body: {string: '{"t":{"t":"14708460251954075","r":3},"m":[]}'}
    headers:
    - !!python/tuple
      - Date
      - ['Wed, 10 Aug 2016 16:20:25 GMT']
    - !!python/tuple
      - Cache-Control
      - [no-cache]
    - !!python/tuple
      - Content-Type
      - [text/javascript; charset="UTF-8"]
    - !!python/tuple
      - Content-Length
      - ['44']
    - !!python/tuple
      - Access-Control-Allow-Origin
      - ['*']
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Access-Control-Allow-Methods
      - [GET]
    status: {code: 200, message: OK}
    url: http://pubsub.pubnub.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/,/0?tt=0&channel-group=subscribe-test-group,subscribe-test-group-pnpres&pnsdk=PubNub-Python-Tornado%2F4.0.0&uuid=test-subscribe-listener
- request:
    body: null
    headers:
    method: GET
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/,/0?channel-group=subscribe-test-group%2Csubscribe-test-group-pnpres&pnsdk=PubNub-Python-Tornado%2F4.0.0&tr=3&tt=14708460251954075
  response:
    body: {string: '{"t":{"t":"14708460259366919","r":3},"m":[{"a":"2","f":0,"p":{"t":"14708460258668827","r":1},"k":"sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe","c":"subscribe-test-channel-pnpres","d":{"action":
        "join", "timestamp": 1470846025, "uuid": "test-subscribe-listener", "occupancy":
        1},"b":"subscribe-test-group-pnpres"}]}'}
    headers:
    - !!python/tuple
      - Date
      - ['Wed, 10 Aug 2016 16:20:25 GMT']
    - !!python/tuple
      - Cache-Control
      - [no-cache]
    - !!python/tuple
      - Content-Type
      - [text/javascript; charset="UTF-8"]
    - !!python/tuple
      - Content-Length
      - ['313']
    - !!python/tuple
      - Access-Control-Allow-Origin
      - ['*']
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Access-Control-Allow-Methods
      - [GET]
    status: {code: 200, message: OK}
    url: http://pubsub.pubnub.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/,/0?tr=3&tt=14708460251954075&channel-group=subscribe-test-group,subscribe-test-group-pnpres&pnsdk=PubNub-Python-Tornado%2F4.0.0&uuid=test-subscribe-listener
- request:
    body: null
    headers:
    method: GET
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/,/0?channel-group=subscribe-test-group&pnsdk=PubNub-Python-Tornado%2F4.0.0&tt=0
  response:
    body: {string: '{"t":{"t":"14708460259353278","r":3},"m":[]}'}
    headers:
    - !!python/tuple
      - Date
      - ['Wed, 10 Aug 2016 16:20:26 GMT']
    - !!python/tuple
      - Cache-Control
      - [no-cache]
    - !!python/tuple
      - Content-Type
      - [text/javascript; charset="UTF-8"]
    - !!python/tuple
      - Content-Length
      - ['44']
    - !!python/tuple
      - Access-Control-Allow-Origin
      - ['*']
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Access-Control-Allow-Methods
      - [GET]
    status: {code: 200, message: OK}
    url: http://pubsub.pubnub.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/,/0?tt=0&channel-group=subscribe-test-group&pnsdk=PubNub-Python-Tornado%2F4.0.0&uuid=test-subscribe-messenger
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://pubsub.pubnub.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/,/leave?channel-group=subscribe-test-group&pnsdk=PubNub-Python-Tornado%2F4.0.0
  response:
    body: {string: '{"status": 200, "action": "leave", "message": "OK", "service":
        "Presence"}'}
    headers:
    - !!python/tuple
      - Date
      - ['Wed, 10 Aug 2016 16:20:27 GMT']
    - !!python/tuple
      - Cache-Control
      - [no-cache]
    - !!python/tuple
      - Content-Type
      - [text/javascript; charset="UTF-8"]
    - !!python/tuple
      - Accept-Ranges
      - [bytes]
    - !!python/tuple
      - Content-Length
      - ['74']
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Server
      - [Pubnub Presence]
    - !!python/tuple
      - Access-Control-Allow-Origin
      - ['*']
    - !!python/tuple
      - Age
      - ['0']
    - !!python/tuple
      - Access-Control-Allow-Methods
      - ['OPTIONS, GET, POST']
    status: {code: 200, message: OK}
    url: http://pubsub.pubnub.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/,/leave?channel-group=subscribe-test-group&pnsdk=PubNub-Python-Tornado%2F4.0.0&uuid=test-subscribe-messenger
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://pubsub.pubnub.com/v1/channel-registration/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel-group/subscribe-test-group?pnsdk=PubNub-Python-Tornado%2F4.0.0&remove=subscribe-test-channel
  response:
    body: {string: '{"status": 200, "message": "OK", "service": "channel-registry",
        "error": false}'}
    headers:
    - !!python/tuple
      - Date
      - ['Wed, 10 Aug 2016 16:20:27 GMT']
    - !!python/tuple
      - Cache-Control
      - [no-cache]
    - !!python/tuple
      - Content-Type
      - [text/javascript; charset="UTF-8"]
    - !!python/tuple
      - Accept-Ranges
      - [bytes]
    - !!python/tuple
      - Content-Length
      - ['79']
    - !!python/tuple
      - Access-Control-Allow-Origin
      - ['*']
    - !!python/tuple
      - Server
      - [Pubnub]
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Age
      - ['0']
    - !!python/tuple
      - Access-Control-Allow-Methods
      - [GET]
    status: {code: 200, message: OK}
    url: http://pubsub.pubnub.com/v1/channel-registration/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel-group/subscribe-test-group?remove=subscribe-test-channel&pnsdk=PubNub-Python-Tornado%2F4.0.0&uuid=test-subscribe-messenger
version: 1
