interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v1/channel-registration/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel-group/subscribe-unsubscribe-group?add=subscribe-unsubscribe-channel
  response:
    body: {string: !!python/unicode '{"status": 200, "message": "OK", "service": "channel-registry",
        "error": false}'}
    headers:
    - !!python/tuple
      - Content-Length
      - ['79']
    - !!python/tuple
      - Accept-Ranges
      - [bytes]
    - !!python/tuple
      - Server
      - [Pubnub]
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Cache-Control
      - [no-cache]
    - !!python/tuple
      - Date
      - ['Fri, 16 Dec 2016 11:16:09 GMT']
    - !!python/tuple
      - Access-Control-Allow-Origin
      - ['*']
    - !!python/tuple
      - Access-Control-Allow-Methods
      - [GET]
    - !!python/tuple
      - Content-Type
      - [text/javascript; charset="UTF-8"]
    - !!python/tuple
      - Age
      - ['0']
    status: {code: 200, message: OK}
    url: http://ps.pndsn.com/v1/channel-registration/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel-group/subscribe-unsubscribe-group?add=subscribe-unsubscribe-channel&pnsdk=PubNub-Python-Tornado%2F4.0.4&uuid=709e16b4-d30b-4854-98c2-c4e965564abb
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/,/0?channel-group=subscribe-unsubscribe-group&tt=0
  response:
    body: {string: !!python/unicode '{"t":{"t":"14818869688928592","r":12},"m":[]}'}
    headers:
    - !!python/tuple
      - Content-Length
      - ['45']
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Cache-Control
      - [no-cache]
    - !!python/tuple
      - Date
      - ['Fri, 16 Dec 2016 11:16:10 GMT']
    - !!python/tuple
      - Access-Control-Allow-Origin
      - ['*']
    - !!python/tuple
      - Access-Control-Allow-Methods
      - [GET]
    - !!python/tuple
      - Content-Type
      - [text/javascript; charset="UTF-8"]
    status: {code: 200, message: OK}
    url: http://ps.pndsn.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/,/0?channel-group=subscribe-unsubscribe-group&pnsdk=PubNub-Python-Tornado%2F4.0.4&tt=0&uuid=709e16b4-d30b-4854-98c2-c4e965564abb
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/,/leave?channel-group=subscribe-unsubscribe-group
  response:
    body: {string: !!python/unicode '{"status": 200, "action": "leave", "message":
        "OK", "service": "Presence"}'}
    headers:
    - !!python/tuple
      - Content-Length
      - ['74']
    - !!python/tuple
      - Accept-Ranges
      - [bytes]
    - !!python/tuple
      - Server
      - [Pubnub Presence]
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Cache-Control
      - [no-cache]
    - !!python/tuple
      - Date
      - ['Fri, 16 Dec 2016 11:16:10 GMT']
    - !!python/tuple
      - Access-Control-Allow-Origin
      - ['*']
    - !!python/tuple
      - Access-Control-Allow-Methods
      - ['OPTIONS, GET, POST']
    - !!python/tuple
      - Content-Type
      - [text/javascript; charset="UTF-8"]
    - !!python/tuple
      - Age
      - ['0']
    status: {code: 200, message: OK}
    url: http://ps.pndsn.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/,/leave?channel-group=subscribe-unsubscribe-group&pnsdk=PubNub-Python-Tornado%2F4.0.4&uuid=709e16b4-d30b-4854-98c2-c4e965564abb
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v1/channel-registration/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel-group/subscribe-unsubscribe-group?remove=subscribe-unsubscribe-channel
  response:
    body: {string: !!python/unicode '{"status": 200, "message": "OK", "service": "channel-registry",
        "error": false}'}
    headers:
    - !!python/tuple
      - Content-Length
      - ['79']
    - !!python/tuple
      - Accept-Ranges
      - [bytes]
    - !!python/tuple
      - Server
      - [Pubnub]
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Cache-Control
      - [no-cache]
    - !!python/tuple
      - Date
      - ['Fri, 16 Dec 2016 11:16:10 GMT']
    - !!python/tuple
      - Access-Control-Allow-Origin
      - ['*']
    - !!python/tuple
      - Access-Control-Allow-Methods
      - [GET]
    - !!python/tuple
      - Content-Type
      - [text/javascript; charset="UTF-8"]
    - !!python/tuple
      - Age
      - ['0']
    status: {code: 200, message: OK}
    url: http://ps.pndsn.com/v1/channel-registration/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel-group/subscribe-unsubscribe-group?pnsdk=PubNub-Python-Tornado%2F4.0.4&uuid=709e16b4-d30b-4854-98c2-c4e965564abb&remove=subscribe-unsubscribe-channel
version: 1
