interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/subscribe-tornado-ch,subscribe-tornado-ch-pnpres/0?pnsdk=PubNub-Python-Tornado%2F4.0.3&tt=0
  response:
    body: {string: !!python/unicode '{"t":{"t":"14818137719895494","r":12},"m":[]}'}
    headers:
    - !!python/tuple
      - Content-Length
      - ['45']
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Cache-Control
      - [no-cache]
    - !!python/tuple
      - Date
      - ['Thu, 15 Dec 2016 15:01:40 GMT']
    - !!python/tuple
      - Access-Control-Allow-Origin
      - ['*']
    - !!python/tuple
      - Access-Control-Allow-Methods
      - [GET]
    - !!python/tuple
      - Content-Type
      - [text/javascript; charset="UTF-8"]
    status: {code: 200, message: OK}
    url: http://pubsub.pubnub.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/subscribe-tornado-ch,subscribe-tornado-ch-pnpres/0?pnsdk=PubNub-Python-Tornado%2F4.0.3&tt=0&uuid=subscribe-tornado-listener
- request:
    body: null
    headers:
    method: GET
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/subscribe-tornado-ch,subscribe-tornado-ch-pnpres/0?pnsdk=PubNub-Python-Tornado%2F4.0.3&tr=12&tt=14708438179383195
  response:
    body: {string: !!python/unicode '{"t":{"t":"14818141038141353","r":12},"m":[{"a":"2","f":0,"p":{"t":"14818141037368243","r":1},"k":"sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe","c":"subscribe-tornado-ch-pnpres","d":{"action":
        "join", "timestamp": 1481814103, "uuid": "subscribe-tornado-listener-3", "occupancy":
        1},"b":"subscribe-tornado-ch-pnpres"}]}'}
    headers:
    - !!python/tuple
      - Content-Length
      - ['317']
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Cache-Control
      - [no-cache]
    - !!python/tuple
      - Date
      - ['Thu, 15 Dec 2016 15:01:43 GMT']
    - !!python/tuple
      - Access-Control-Allow-Origin
      - ['*']
    - !!python/tuple
      - Access-Control-Allow-Methods
      - [GET]
    - !!python/tuple
      - Content-Type
      - [text/javascript; charset="UTF-8"]
    status: {code: 200, message: OK}
    url: http://pubsub.pubnub.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/subscribe-tornado-ch,subscribe-tornado-ch-pnpres/0?pnsdk=PubNub-Python-Tornado%2F4.0.3&tt=14708438179383195&uuid=subscribe-tornado-listener&tr=12
- request:
    body: null
    headers:
    method: GET
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/subscribe-tornado-ch/0?pnsdk=PubNub-Python-Tornado%2F4.0.3&tt=0
  response:
    body: {string: !!python/unicode '{"t":{"t":"14818141039599808","r":12},"m":[]}'}
    headers:
    - !!python/tuple
      - Content-Length
      - ['45']
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Cache-Control
      - [no-cache]
    - !!python/tuple
      - Date
      - ['Thu, 15 Dec 2016 15:01:44 GMT']
    - !!python/tuple
      - Access-Control-Allow-Origin
      - ['*']
    - !!python/tuple
      - Access-Control-Allow-Methods
      - [GET]
    - !!python/tuple
      - Content-Type
      - [text/javascript; charset="UTF-8"]
    status: {code: 200, message: OK}
    url: http://pubsub.pubnub.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/subscribe-tornado-ch/0?pnsdk=PubNub-Python-Tornado%2F4.0.3&tt=0&uuid=subscribe-tornado-messenger
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://pubsub.pubnub.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/subscribe-tornado-ch/leave?pnsdk=PubNub-Python-Tornado%2F4.0.3
  response:
    body: {string: !!python/unicode '{"status": 200, "action": "leave", "message":
        "OK", "service": "Presence"}'}
    headers:
    - !!python/tuple
      - Content-Length
      - ['74']
    - !!python/tuple
      - Accept-Ranges
      - [bytes]
    - !!python/tuple
      - Server
      - [Pubnub Presence]
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Cache-Control
      - [no-cache]
    - !!python/tuple
      - Date
      - ['Thu, 15 Dec 2016 15:01:45 GMT']
    - !!python/tuple
      - Access-Control-Allow-Origin
      - ['*']
    - !!python/tuple
      - Access-Control-Allow-Methods
      - ['OPTIONS, GET, POST']
    - !!python/tuple
      - Content-Type
      - [text/javascript; charset="UTF-8"]
    - !!python/tuple
      - Age
      - ['0']
    status: {code: 200, message: OK}
    url: http://pubsub.pubnub.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/subscribe-tornado-ch/leave?pnsdk=PubNub-Python-Tornado%2F4.0.3&uuid=subscribe-tornado-messenger
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://pubsub.pubnub.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/subscribe-tornado-ch/leave?pnsdk=PubNub-Python-Tornado%2F4.0.3
  response:
    body: {string: !!python/unicode '{"status": 200, "action": "leave", "message":
        "OK", "service": "Presence"}'}
    headers:
    - !!python/tuple
      - Content-Length
      - ['74']
    - !!python/tuple
      - Accept-Ranges
      - [bytes]
    - !!python/tuple
      - Server
      - [Pubnub Presence]
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Cache-Control
      - [no-cache]
    - !!python/tuple
      - Date
      - ['Thu, 15 Dec 2016 15:01:45 GMT']
    - !!python/tuple
      - Access-Control-Allow-Origin
      - ['*']
    - !!python/tuple
      - Access-Control-Allow-Methods
      - ['OPTIONS, GET, POST']
    - !!python/tuple
      - Content-Type
      - [text/javascript; charset="UTF-8"]
    - !!python/tuple
      - Age
      - ['0']
    status: {code: 200, message: OK}
    url: http://pubsub.pubnub.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/subscribe-tornado-ch/leave?pnsdk=PubNub-Python-Tornado%2F4.0.3&uuid=subscribe-tornado-listener
version: 1
