interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/subscribe-tornado-ch/0?tt=0
  response:
    body: {string: !!python/unicode '{"t":{"t":"14818869631121257","r":12},"m":[]}'}
    headers:
    - !!python/tuple
      - Content-Length
      - ['45']
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Cache-Control
      - [no-cache]
    - !!python/tuple
      - Date
      - ['Fri, 16 Dec 2016 11:16:03 GMT']
    - !!python/tuple
      - Access-Control-Allow-Origin
      - ['*']
    - !!python/tuple
      - Access-Control-Allow-Methods
      - [GET]
    - !!python/tuple
      - Content-Type
      - [text/javascript; charset="UTF-8"]
    status: {code: 200, message: OK}
    url: http://ps.pndsn.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/subscribe-tornado-ch/0?tt=0&pnsdk=PubNub-Python-Tornado%2F4.0.4&uuid=18aa1154-a3bd-4e71-994d-8685b56eeecc
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/publish/pub-c-739aa0fc-3ed5-472b-af26-aca1b333ec52/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/0/subscribe-tornado-ch/0/%22hey%22
  response:
    body: {string: !!python/unicode '[1,"Sent","14818869633015166"]'}
    headers:
    - !!python/tuple
      - Content-Length
      - ['30']
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Cache-Control
      - [no-cache]
    - !!python/tuple
      - Date
      - ['Fri, 16 Dec 2016 11:16:03 GMT']
    - !!python/tuple
      - Access-Control-Allow-Origin
      - ['*']
    - !!python/tuple
      - Access-Control-Allow-Methods
      - [GET]
    - !!python/tuple
      - Content-Type
      - [text/javascript; charset="UTF-8"]
    status: {code: 200, message: OK}
    url: http://ps.pndsn.com/publish/pub-c-739aa0fc-3ed5-472b-af26-aca1b333ec52/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/0/subscribe-tornado-ch/0/%22hey%22?pnsdk=PubNub-Python-Tornado%2F4.0.4&seqn=1&uuid=18aa1154-a3bd-4e71-994d-8685b56eeecc
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/subscribe-tornado-ch/0?tr=12&tt=14818869631121257
  response:
    body: {string: !!python/unicode '{"t":{"t":"14818869633017084","r":12},"m":[{"a":"2","f":0,"i":"18aa1154-a3bd-4e71-994d-8685b56eeecc","s":1,"p":{"t":"14818869633015166","r":12},"k":"sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe","c":"subscribe-tornado-ch","d":"hey"}]}'}
    headers:
    - !!python/tuple
      - Content-Length
      - ['232']
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Cache-Control
      - [no-cache]
    - !!python/tuple
      - Date
      - ['Fri, 16 Dec 2016 11:16:03 GMT']
    - !!python/tuple
      - Access-Control-Allow-Origin
      - ['*']
    - !!python/tuple
      - Access-Control-Allow-Methods
      - [GET]
    - !!python/tuple
      - Content-Type
      - [text/javascript; charset="UTF-8"]
    status: {code: 200, message: OK}
    url: http://ps.pndsn.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/subscribe-tornado-ch/0?tt=14818869631121257&pnsdk=PubNub-Python-Tornado%2F4.0.4&tr=12&uuid=18aa1154-a3bd-4e71-994d-8685b56eeecc
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/subscribe-tornado-ch/leave
  response:
    body: {string: !!python/unicode '{"status": 200, "action": "leave", "message":
        "OK", "service": "Presence"}'}
    headers:
    - !!python/tuple
      - Content-Length
      - ['74']
    - !!python/tuple
      - Accept-Ranges
      - [bytes]
    - !!python/tuple
      - Server
      - [Pubnub Presence]
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Cache-Control
      - [no-cache]
    - !!python/tuple
      - Date
      - ['Fri, 16 Dec 2016 11:16:03 GMT']
    - !!python/tuple
      - Access-Control-Allow-Origin
      - ['*']
    - !!python/tuple
      - Access-Control-Allow-Methods
      - ['OPTIONS, GET, POST']
    - !!python/tuple
      - Content-Type
      - [text/javascript; charset="UTF-8"]
    - !!python/tuple
      - Age
      - ['0']
    status: {code: 200, message: OK}
    url: http://ps.pndsn.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/subscribe-tornado-ch/leave?pnsdk=PubNub-Python-Tornado%2F4.0.4&uuid=18aa1154-a3bd-4e71-994d-8685b56eeecc
version: 1
