interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/where-now-tornado-ch/0?pnsdk=PubNub-Python-Tornado%2F4.0.0&tt=0
  response:
    body: {string: '{"t":{"t":"14708258632518858","r":12},"m":[]}'}
    headers:
    - !!python/tuple
      - Date
      - ['Wed, 10 Aug 2016 10:44:23 GMT']
    - !!python/tuple
      - Content-Length
      - ['45']
    - !!python/tuple
      - Content-Type
      - [text/javascript; charset="UTF-8"]
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Access-Control-Allow-Origin
      - ['*']
    - !!python/tuple
      - Access-Control-Allow-Methods
      - [GET]
    - !!python/tuple
      - Cache-Control
      - [no-cache]
    status: {code: 200, message: OK}
    url: http://pubsub.pubnub.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/where-now-tornado-ch/0?uuid=c7f5f961-f136-498c-a50a-a664b7b49850&tt=0&pnsdk=PubNub-Python-Tornado%2F4.0.0
- request:
    body: null
    headers:
    method: GET
    uri: http://pubsub.pubnub.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/where-now-tornado-ch/leave?pnsdk=PubNub-Python-Tornado%2F4.0.0
  response:
    body: {string: '{"status": 200, "action": "leave", "message": "OK", "service":
        "Presence"}'}
    headers:
    - !!python/tuple
      - Date
      - ['Wed, 10 Aug 2016 10:44:23 GMT']
    - !!python/tuple
      - Accept-Ranges
      - [bytes]
    - !!python/tuple
      - Access-Control-Allow-Origin
      - ['*']
    - !!python/tuple
      - Content-Type
      - [text/javascript; charset="UTF-8"]
    - !!python/tuple
      - Server
      - [Pubnub Presence]
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Content-Length
      - ['74']
    - !!python/tuple
      - Access-Control-Allow-Methods
      - ['OPTIONS, GET, POST']
    - !!python/tuple
      - Age
      - ['0']
    - !!python/tuple
      - Cache-Control
      - [no-cache]
    status: {code: 200, message: OK}
    url: http://pubsub.pubnub.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/where-now-tornado-ch/leave?uuid=c7f5f961-f136-498c-a50a-a664b7b49850&pnsdk=PubNub-Python-Tornado%2F4.0.0
version: 1
