interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v1/objects/demo/spaces/value1/users?count=True&include=custom%2Cuser%2Cuser.custom
  response:
    body:
      string: '{"status":200,"data":[{"id":"mg3","custom":null,"user":{"id":"mg3","name":"MAGNUM3","externalId":null,"profileUrl":null,"email":null,"custom":{"ZZZ":"IIII"},"created":"2019-08-18T12:56:23.449026Z","updated":"2019-08-18T12:56:23.449026Z","eTag":"AfjKyYTB8vSyVA"},"created":"2019-08-20T19:03:19.191814Z","updated":"2019-08-20T19:03:19.191814Z","eTag":"AY39mJKK//C0VA"}],"totalCount":1,"next":"MQ"}'
    headers:
      Content-Type: application/json
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - http
        - ps.pndsn.com
        - /v1/objects/demo/spaces/value1/users
        - count=True&include=custom,user,user.custom&pnsdk=PubNub-Python-Asyncio%2F4.1.0&uuid=f032239c-241a-45f7-ac74-02ebfe06a29e
        - ''
version: 1
