interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v1/objects/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/users/charlie/spaces?count=True&include=%5B%22custom%22%2C+%22space%22%5D&limit=10
  response:
    body:
      string: "{\n  \"data\": [\n    {\n      \"created\": \"2019-02-20T23:11:20.893755\"\
        ,\n      \"custom\": {\n        \"starred\": false\n      },\n      \"eTag\"\
        : \"RUNDMDUwNjktNUYwRC00RTI0LUI1M0QtNUUzNkE2NkU0MEVFCg==\",\n      \"id\"\
        : \"my-channel\",\n      \"space\": {\n        \"created\": \"2019-02-20T23:11:20.893755\"\
        ,\n        \"description\": \"A space that is mine\",\n        \"eTag\": \"\
        RTc1NUQwNUItREMyNy00Q0YxLUJCNDItMEZDMTZDMzVCN0VGCg==\",\n        \"id\": \"\
        my-channel\",\n        \"name\": \"My space\",\n        \"updated\": \"2019-02-20T23:11:20.893755\"\
        \n      },\n      \"updated\": \"2019-02-20T23:11:20.893755\"\n    },\n  \
        \  {\n      \"created\": \"2019-02-20T23:11:20.893755\",\n      \"custom\"\
        : {\n        \"starred\": true\n      },\n      \"eTag\": \"RUNDMDUwNjktNUYwRC00RTI0LUI1M0QtNUUzNkE2NkU0MEVFCg==\"\
        ,\n      \"id\": \"main\",\n      \"space\": {\n        \"created\": \"2019-02-20T23:11:20.893755\"\
        ,\n        \"custom\": {\n          \"motd\": \"Always check your spelling!\"\
        ,\n          \"public\": true\n        },\n        \"description\": \"The\
        \ main space\",\n        \"eTag\": \"RTc1NUQwNUItREMyNy00Q0YxLUJCNDItMEZDMTZDMzVCN0VGCg==\"\
        ,\n        \"id\": \"main\",\n        \"name\": \"Main space\",\n        \"\
        updated\": \"2019-02-20T23:11:20.893755\"\n      },\n      \"updated\": \"\
        2019-02-20T23:11:20.893755\"\n    }\n  ],\n  \"next\": \"RDIwQUIwM0MtNUM2Ni00ODQ5LUFGRjMtNDk1MzNDQzE3MUVCCg==\"\
        ,\n  \"prev\": \"MzY5RjkzQUQtNTM0NS00QjM0LUI0M0MtNjNBQUFGODQ5MTk2Cg==\",\n\
        \  \"status\": 200,\n  \"totalCount\": 7\n}"
    headers:
      Content-Type: application/json
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - http
        - ps.pndsn.com
        - /v1/objects/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/users/charlie/spaces
        - count=True&limit=10&include=%5B%22custom%22%2C%20%22space%22%5D&pnsdk=PubNub-Python-Asyncio%2F4.1.0&uuid=2b8c9d19-2de7-468d-bdac-ce4ed6048f0e
        - ''
version: 1
