interactions:
- request:
    body: '{"add": [{"id": "mg3"}]}'
    headers:
    method: PATCH
    uri: http://ps.pndsn.com/v1/objects/demo/spaces/value1/users?include=custom%2Cuser%2Cuser.custom
  response:
    body:
      string: '{"status":200,"data":[{"id":"mg","custom":null,"user":{"id":"mg","name":"number
        3","externalId":null,"profileUrl":null,"email":null,"custom":{"XXX":"YYYY"},"created":"2019-08-19T21:04:00.148418Z","updated":"2019-08-19T21:04:59.878283Z","eTag":"Af/+vv+glMjK3gE"},"created":"2019-08-20T19:01:57.736172Z","updated":"2019-08-20T19:01:57.736172Z","eTag":"AY39mJKK//C0VA"},{"id":"mg3","custom":null,"user":{"id":"mg3","name":"MAGNUM3","externalId":null,"profileUrl":null,"email":null,"custom":{"ZZZ":"IIII"},"created":"2019-08-18T12:56:23.449026Z","updated":"2019-08-18T12:56:23.449026Z","eTag":"AfjKyYTB8vSyVA"},"created":"2019-08-20T19:03:19.191814Z","updated":"2019-08-20T19:03:19.191814Z","eTag":"AY39mJKK//C0VA"}],"next":"Mg"}'
    headers:
      Content-Type: application/json
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - http
        - ps.pndsn.com
        - /v1/objects/demo/spaces/value1/users
        - include=custom,user,user.custom&pnsdk=PubNub-Python-Asyncio%2F4.1.0&uuid=8cc8fb7d-6bb8-4109-a6b9-750490d89e7a
        - ''
version: 1
