interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://balancer1g.bronze.aws-pdx-1.ps.pn/publish/demo-36/demo-36/0/unique_asyncio_1/0/%22something%22
  response:
    body: {string: '[1,"Sent","15510394390136005"]'}
    headers:
    - !!python/tuple
      - Date
      - ['Sun, 24 Feb 2019 20:17:19 GMT']
    - !!python/tuple
      - Content-Type
      - [text/javascript; charset="UTF-8"]
    - !!python/tuple
      - Content-Length
      - ['30']
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Cache-Control
      - [no-cache]
    - !!python/tuple
      - Access-Control-Allow-Origin
      - ['*']
    - !!python/tuple
      - Access-Control-Allow-Methods
      - [GET]
    status: {code: 200, message: OK}
    url: http://balancer1g.bronze.aws-pdx-1.ps.pn/publish/demo-36/demo-36/0/unique_asyncio_1/0/%22something%22?seqn=1&pnsdk=PubNub-Python-Tornado%2F4.1.0&uuid=367fcb65-053e-4790-ba94-dcc0d4e56750
- request:
    body: null
    headers:
    method: GET
    uri: http://balancer1g.bronze.aws-pdx-1.ps.pn/v3/history/sub-key/demo-36/message-counts/unique_asyncio_1,unique_asyncio_2?channelsTimetoken=15510394390135995%2C15510394390135995
  response:
    body: {string: '{"status": 200, "error": false, "error_message": "", "channels":
        {"unique_asyncio_1":1,"unique_asyncio_2":0}}'}
    headers:
    - !!python/tuple
      - Date
      - ['Sun, 24 Feb 2019 20:17:19 GMT']
    - !!python/tuple
      - Content-Type
      - [text/javascript; charset="UTF-8"]
    - !!python/tuple
      - Content-Length
      - ['109']
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Cache-Control
      - [no-cache]
    - !!python/tuple
      - Access-Control-Allow-Origin
      - ['*']
    - !!python/tuple
      - Access-Control-Allow-Methods
      - ['GET, DELETE, OPTIONS']
    - !!python/tuple
      - Accept-Ranges
      - [bytes]
    - !!python/tuple
      - Age
      - ['0']
    - !!python/tuple
      - Server
      - [Pubnub]
    status: {code: 200, message: OK}
    url: http://balancer1g.bronze.aws-pdx-1.ps.pn/v3/history/sub-key/demo-36/message-counts/unique_asyncio_1,unique_asyncio_2?channelsTimetoken=15510394390135995,15510394390135995&pnsdk=PubNub-Python-Tornado%2F4.1.0&uuid=367fcb65-053e-4790-ba94-dcc0d4e56750&l_pub=0.368375301361084
version: 1
