language: python
python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4.4"
  - "3.5"
  - "pypy"
sudo: false
install:
  - bash scripts/install.sh
script:
  - python scripts/run-tests.py
after_success:
  - codecov
