language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "pypy"
sudo: false
install:
  - bash scripts/install.sh
script:
  - python scripts/run-tests.py
after_success:
  - python-codacy-coverage -r coverage.xml
