pyyaml>=6.0
pytest-cov>=6.0.0
pycryptodomex>=3.21.0
flake8>=7.1.2
pytest>=8.3.5
pytest-asyncio>=0.24.0,<1.0.0
httpx>=0.28
h2>=4.1
requests>=2.32.2
aiohttp>=3.10.11
cbor2>=5.6
behave>=1.2.6
vcrpy>=6.0.2
urllib3>=1.26.19,<2
busypie>=0.5.1
