interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://pubsub.pubnub.com/v1/channel-registration/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel-group/channel-groups-native-cg?add=channel-groups-native-ch&pnsdk=PubNub-Python%2F4.0.2
  response:
    body: {string: '{"status": 200, "message": "OK", "service": "channel-registry",
        "error": false}'}
    headers:
      Content-Type: [text/javascript; charset="UTF-8"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://pubsub.pubnub.com/v1/channel-registration/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel-group/channel-groups-native-cg?pnsdk=PubNub-Python%2F4.0.2
  response:
    body: {string: '{"status": 200, "payload": {"channels": ["channel-groups-native-ch"],
        "group": "channel-groups-native-cg"}, "service": "channel-registry", "error":
        false}'}
    headers:
      Content-Type: [text/javascript; charset="UTF-8"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://pubsub.pubnub.com/v1/channel-registration/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel-group/channel-groups-native-cg?pnsdk=PubNub-Python%2F4.0.2&remove=channel-groups-native-ch
  response:
    body: {string: '{"status": 200, "message": "OK", "service": "channel-registry",
        "error": false}'}
    headers:
      Content-Type: [text/javascript; charset="UTF-8"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://pubsub.pubnub.com/v1/channel-registration/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel-group/channel-groups-native-cg?pnsdk=PubNub-Python%2F4.0.2
  response:
    body: {string: '{"status": 200, "payload": {"channels": [], "group": "channel-groups-native-cg"},
        "service": "channel-registry", "error": false}'}
    headers:
      Content-Type: [text/javascript; charset="UTF-8"]
    status: {code: 200, message: OK}
version: 1
