interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ps.pndsn.com/v2/objects/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/uuids/someuuid?include=custom
  response:
    body:
      string: '{"status":200,"data":{"id":"someuuid","name":"Some name","externalId":"1234","profileUrl":"http://example.com","email":"test@example.com","custom":{"key1":"val1","key2":"val2"},"updated":"2020-09-25T14:41:57.579119Z","eTag":"AYTuwrO3kvz6tAE"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
