interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/heartbeat-tornado-ch,heartbeat-tornado-ch-pnpres/0?pnsdk=PubNub-Python-Tornado%2F4.0.4&tt=0
  response:
    body: {string: !!python/unicode '{"t":{"t":"14720341188112072","r":12},"m":[]}'}
    headers:
    - !!python/tuple
      - Content-Length
      - ['45']
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Cache-Control
      - [no-cache]
    - !!python/tuple
      - Date
      - ['Wed, 24 Aug 2016 10:21:58 GMT']
    - !!python/tuple
      - Access-Control-Allow-Origin
      - ['*']
    - !!python/tuple
      - Access-Control-Allow-Methods
      - [GET]
    - !!python/tuple
      - Content-Type
      - [text/javascript; charset="UTF-8"]
    status: {code: 200, message: OK}
    url: http://ps.pndsn.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/heartbeat-tornado-ch,heartbeat-tornado-ch-pnpres/0?tt=0&pnsdk=PubNub-Python-Tornado%2F4.0.4&uuid=heartbeat-tornado-listener
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/heartbeat-tornado-ch,heartbeat-tornado-ch-pnpres/0?pnsdk=PubNub-Python-Tornado%2F4.0.4&tr=12&tt=14720341188112072
  response:
    body: {string: !!python/unicode '{"t":{"t":"14720341195231188","r":12},"m":[{"a":"2","f":0,"p":{"t":"14720341194420285","r":1},"k":"sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe","c":"heartbeat-tornado-ch-pnpres","d":{"action":
        "join", "timestamp": 1472034119, "uuid": "heartbeat-tornado-listener", "occupancy":
        1},"b":"heartbeat-tornado-ch-pnpres"}]}'}
    headers:
    - !!python/tuple
      - Content-Length
      - ['315']
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Cache-Control
      - [no-cache]
    - !!python/tuple
      - Date
      - ['Wed, 24 Aug 2016 10:21:59 GMT']
    - !!python/tuple
      - Access-Control-Allow-Origin
      - ['*']
    - !!python/tuple
      - Access-Control-Allow-Methods
      - [GET]
    - !!python/tuple
      - Content-Type
      - [text/javascript; charset="UTF-8"]
    status: {code: 200, message: OK}
    url: http://ps.pndsn.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/heartbeat-tornado-ch,heartbeat-tornado-ch-pnpres/0?tt=14720341188112072&pnsdk=PubNub-Python-Tornado%2F4.0.4&tr=12&uuid=heartbeat-tornado-listener
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/heartbeat-tornado-ch/0?heartbeat=8&pnsdk=PubNub-Python-Tornado%2F4.0.4&tt=0
  response:
    body: {string: !!python/unicode '{"t":{"t":"14720341194868942","r":12},"m":[]}'}
    headers:
    - !!python/tuple
      - Content-Length
      - ['45']
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Cache-Control
      - [no-cache]
    - !!python/tuple
      - Date
      - ['Wed, 24 Aug 2016 10:21:59 GMT']
    - !!python/tuple
      - Access-Control-Allow-Origin
      - ['*']
    - !!python/tuple
      - Access-Control-Allow-Methods
      - [GET]
    - !!python/tuple
      - Content-Type
      - [text/javascript; charset="UTF-8"]
    status: {code: 200, message: OK}
    url: http://ps.pndsn.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/heartbeat-tornado-ch/0?heartbeat=8&tt=0&pnsdk=PubNub-Python-Tornado%2F4.0.4&uuid=heartbeat-tornado-messenger
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/heartbeat-tornado-ch/heartbeat?heartbeat=8&pnsdk=PubNub-Python-Tornado%2F4.0.4
  response:
    body: {string: !!python/unicode '{"status": 200, "message": "OK", "service": "Presence"}'}
    headers:
    - !!python/tuple
      - Content-Length
      - ['55']
    - !!python/tuple
      - Accept-Ranges
      - [bytes]
    - !!python/tuple
      - Server
      - [Pubnub Presence]
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Cache-Control
      - [no-cache]
    - !!python/tuple
      - Date
      - ['Wed, 24 Aug 2016 10:22:02 GMT']
    - !!python/tuple
      - Access-Control-Allow-Origin
      - ['*']
    - !!python/tuple
      - Access-Control-Allow-Methods
      - ['OPTIONS, GET, POST']
    - !!python/tuple
      - Content-Type
      - [text/javascript; charset="UTF-8"]
    - !!python/tuple
      - Age
      - ['0']
    status: {code: 200, message: OK}
    url: http://ps.pndsn.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/heartbeat-tornado-ch/heartbeat?heartbeat=8&pnsdk=PubNub-Python-Tornado%2F4.0.4&uuid=heartbeat-tornado-messenger
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/heartbeat-tornado-ch/leave?pnsdk=PubNub-Python-Tornado%2F4.0.4
  response:
    body: {string: !!python/unicode '{"status": 200, "action": "leave", "message":
        "OK", "service": "Presence"}'}
    headers:
    - !!python/tuple
      - Content-Length
      - ['74']
    - !!python/tuple
      - Accept-Ranges
      - [bytes]
    - !!python/tuple
      - Server
      - [Pubnub Presence]
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Cache-Control
      - [no-cache]
    - !!python/tuple
      - Date
      - ['Wed, 24 Aug 2016 10:22:17 GMT']
    - !!python/tuple
      - Access-Control-Allow-Origin
      - ['*']
    - !!python/tuple
      - Access-Control-Allow-Methods
      - ['OPTIONS, GET, POST']
    - !!python/tuple
      - Content-Type
      - [text/javascript; charset="UTF-8"]
    - !!python/tuple
      - Age
      - ['0']
    status: {code: 200, message: OK}
    url: http://ps.pndsn.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/heartbeat-tornado-ch/leave?pnsdk=PubNub-Python-Tornado%2F4.0.4&uuid=heartbeat-tornado-listener
version: 1
