interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/test-here-now-channel1/0?pnsdk=PubNub-Python-Tornado%2F4.0.4&tt=0
  response:
    body: {string: '{"t":{"t":"14717797368453656","r":3},"m":[]}'}
    headers:
    - !!python/tuple
      - Access-Control-Allow-Origin
      - ['*']
    - !!python/tuple
      - Date
      - ['Sun, 21 Aug 2016 11:42:16 GMT']
    - !!python/tuple
      - Access-Control-Allow-Methods
      - [GET]
    - !!python/tuple
      - Cache-Control
      - [no-cache]
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Content-Length
      - ['44']
    - !!python/tuple
      - Content-Type
      - [text/javascript; charset="UTF-8"]
    status: {code: 200, message: OK}
    url: http://ps.pndsn.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/test-here-now-channel1/0?pnsdk=PubNub-Python-Tornado%2F4.0.4&uuid=test-here-now-uuid&tt=0
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/test-here-now-channel2,test-here-now-channel1/0?pnsdk=PubNub-Python-Tornado%2F4.0.4&tr=3&tt=0
  response:
    body: {string: '{"t":{"t":"14717797368952132","r":3},"m":[]}'}
    headers:
    - !!python/tuple
      - Access-Control-Allow-Origin
      - ['*']
    - !!python/tuple
      - Date
      - ['Sun, 21 Aug 2016 11:42:16 GMT']
    - !!python/tuple
      - Access-Control-Allow-Methods
      - [GET]
    - !!python/tuple
      - Cache-Control
      - [no-cache]
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Content-Length
      - ['44']
    - !!python/tuple
      - Content-Type
      - [text/javascript; charset="UTF-8"]
    status: {code: 200, message: OK}
    url: http://ps.pndsn.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/test-here-now-channel2,test-here-now-channel1/0?tr=3&pnsdk=PubNub-Python-Tornado%2F4.0.4&uuid=test-here-now-uuid&tt=0
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe?pnsdk=PubNub-Python-Tornado%2F4.0.4
  response:
    body: {string: '{"status": 200, "message": "OK", "payload": {"channels": {"test-here-now-channel1":
        {"uuids": ["test-here-now-uuid"], "occupancy": 1}, "test-here-now-channel2":
        {"uuids": ["test-here-now-uuid"], "occupancy": 1}}, "total_channels": 2, "total_occupancy":
        2}, "service": "Presence"}'}
    headers:
    - !!python/tuple
      - Access-Control-Allow-Origin
      - ['*']
    - !!python/tuple
      - Date
      - ['Sun, 21 Aug 2016 11:42:23 GMT']
    - !!python/tuple
      - Cache-Control
      - [no-cache]
    - !!python/tuple
      - Age
      - ['0']
    - !!python/tuple
      - Access-Control-Allow-Methods
      - ['OPTIONS, GET, POST']
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Content-Length
      - ['279']
    - !!python/tuple
      - Accept-Ranges
      - [bytes]
    - !!python/tuple
      - Server
      - [Pubnub Presence]
    - !!python/tuple
      - Content-Type
      - [text/javascript; charset="UTF-8"]
    status: {code: 200, message: OK}
    url: http://ps.pndsn.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe?pnsdk=PubNub-Python-Tornado%2F4.0.4&uuid=test-here-now-uuid
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/test-here-now-channel1,test-here-now-channel2/leave?pnsdk=PubNub-Python-Tornado%2F4.0.4
  response:
    body: {string: '{"status": 200, "action": "leave", "message": "OK", "service":
        "Presence"}'}
    headers:
    - !!python/tuple
      - Access-Control-Allow-Origin
      - ['*']
    - !!python/tuple
      - Date
      - ['Sun, 21 Aug 2016 11:42:24 GMT']
    - !!python/tuple
      - Cache-Control
      - [no-cache]
    - !!python/tuple
      - Age
      - ['0']
    - !!python/tuple
      - Access-Control-Allow-Methods
      - ['OPTIONS, GET, POST']
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Content-Length
      - ['74']
    - !!python/tuple
      - Accept-Ranges
      - [bytes]
    - !!python/tuple
      - Server
      - [Pubnub Presence]
    - !!python/tuple
      - Content-Type
      - [text/javascript; charset="UTF-8"]
    status: {code: 200, message: OK}
    url: http://ps.pndsn.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/test-here-now-channel1,test-here-now-channel2/leave?pnsdk=PubNub-Python-Tornado%2F4.0.4&uuid=test-here-now-uuid
version: 1
