interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://balancer1g.bronze.aws-pdx-1.ps.pn/publish/demo-36/demo-36/0/unique_sync/0/%22bla%22
  response:
    body: {string: '[1,"Sent","15510379559483751"]'}
    headers:
      Content-Type: [text/javascript; charset="UTF-8"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://balancer1g.bronze.aws-pdx-1.ps.pn/v3/history/sub-key/demo-36/message-counts/unique_sync?timetoken=15510379559483741
  response:
    body: {string: '{"status": 200, "error": false, "error_message": "", "channels":
        {"unique_sync":1}}'}
    headers:
      Content-Type: [text/javascript; charset="UTF-8"]
    status: {code: 200, message: OK}
version: 1
