interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/test-where-now-asyncio-ch/0?tt=0
  response:
    body: {string: '{"t":{"t":"14818963708992326","r":12},"m":[]}'}
    headers: {ACCESS-CONTROL-ALLOW-METHODS: GET, ACCESS-CONTROL-ALLOW-ORIGIN: '*',
      CACHE-CONTROL: no-cache, CONNECTION: keep-alive, CONTENT-LENGTH: '45', CONTENT-TYPE: text/javascript;
        charset="UTF-8", DATE: 'Fri, 16 Dec 2016 13:52:51 GMT'}
    status: {code: 200, message: OK}
    url: http://ps.pndsn.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/test-where-now-asyncio-ch/0?pnsdk=PubNub-Python-Asyncio%2F4.0.4&uuid=test-where-now-asyncio-uuid&tt=0
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/uuid/test-where-now-asyncio-uuid
  response:
    body: {string: '{"status": 200, "message": "OK", "payload": {"channels": ["test-where-now-asyncio-ch"]},
        "service": "Presence"}'}
    headers: {ACCEPT-RANGES: bytes, ACCESS-CONTROL-ALLOW-METHODS: 'OPTIONS, GET, POST',
      ACCESS-CONTROL-ALLOW-ORIGIN: '*', AGE: '0', CACHE-CONTROL: no-cache, CONNECTION: keep-alive,
      CONTENT-LENGTH: '111', CONTENT-TYPE: text/javascript; charset="UTF-8", DATE: 'Fri,
        16 Dec 2016 13:52:53 GMT', SERVER: Pubnub Presence}
    status: {code: 200, message: OK}
    url: http://ps.pndsn.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/uuid/test-where-now-asyncio-uuid?pnsdk=PubNub-Python-Asyncio%2F4.0.4&uuid=test-where-now-asyncio-uuid
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/test-where-now-asyncio-ch/leave
  response:
    body: {string: '{"status": 200, "action": "leave", "message": "OK", "service":
        "Presence"}'}
    headers: {ACCEPT-RANGES: bytes, ACCESS-CONTROL-ALLOW-METHODS: 'OPTIONS, GET, POST',
      ACCESS-CONTROL-ALLOW-ORIGIN: '*', AGE: '0', CACHE-CONTROL: no-cache, CONNECTION: keep-alive,
      CONTENT-LENGTH: '74', CONTENT-TYPE: text/javascript; charset="UTF-8", DATE: 'Fri,
        16 Dec 2016 13:52:53 GMT', SERVER: Pubnub Presence}
    status: {code: 200, message: OK}
    url: http://ps.pndsn.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/test-where-now-asyncio-ch/leave?pnsdk=PubNub-Python-Asyncio%2F4.0.4&uuid=test-where-now-asyncio-uuid
version: 1
