interactions:
- request:
    body: !!python/unicode 
    headers:
    method: GET
    uri: http://ps.pndsn.com/publish/pub-c-98863562-19a6-4760-bf0b-d537d1f5c582/sub-c-7ba2ac4c-4836-11e6-85a4-0619f8945a4f/0/not_permitted_channel/0/%22hey%22?pnsdk=PubNub-Python-Twisted%2F4.0.4&signature=oZNiMOxZ6Zg-pAnPpdrQ7rLM2n4Vmk_p8wewWF51wng%3D&timestamp=1477397184
  response:
    body: {string: '{"message":"Forbidden","payload":{"channels":["not_permitted_channel"]},"error":true,"service":"Access
        Manager","status":403}

'}
    headers: !!python/object:twisted.web.http_headers.Headers
      _rawHeaders:
        user-agent: [PubNub-Python-Twisted/4.0.4]
    status: {code: 403, message: ''}
    url: http://ps.pndsn.com/publish/pub-c-98863562-19a6-4760-bf0b-d537d1f5c582/sub-c-7ba2ac4c-4836-11e6-85a4-0619f8945a4f/0/not_permitted_channel/0/%22hey%22?timestamp=1477397184&pnsdk=PubNub-Python-Twisted%2F4.0.4&signature=oZNiMOxZ6Zg-pAnPpdrQ7rLM2n4Vmk_p8wewWF51wng=&seqn=1&uuid=c7accbb8-2606-41bb-9484-7cea7e13817e
version: 1
