interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ps.pndsn.com/publish/pub-c-739aa0fc-3ed5-472b-af26-aca1b333ec52/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/0/fetch-messages-actions-meta-1/0/%22hey-meta%22?meta=%7B%22is-this%22%3A+%22krusty-krab%22%7D&seqn=1
  response:
    body:
      string: '[1,"Sent","16485817254069189"]'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://ps.pndsn.com/publish/pub-c-739aa0fc-3ed5-472b-af26-aca1b333ec52/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/0/fetch-messages-actions-meta-1/0/%22hey-meta%22?meta=%7B%22this-is%22%3A+%22patrick%22%7D&seqn=2
  response:
    body:
      string: '[1,"Sent","16485817254397299"]'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://ps.pndsn.com/v3/history-with-actions/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/fetch-messages-actions-meta-1?include_meta=true&max=25
  response:
    body:
      string: '{"status": 200, "channels": {"fetch-messages-actions-meta-1": [{"message":
        "hey-meta", "timetoken": "16485817079213403", "meta": {"is-this": "krusty-krab"}},
        {"message": "hey-meta", "timetoken": "16485817079522020", "meta": {"this-is":
        "patrick"}}]}, "error_message": "", "error": false}'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status:
      code: 200
      message: OK
version: 1
