interactions:
- request:
    body: '{"id": "in_space", "name": "some_name", "custom": {"a": 3}}'
    headers:
    method: POST
    uri: http://ps.pndsn.com/v1/objects/demo/spaces?include=custom
  response:
    body:
      string: '{"status":200,"data":{"id":"in_space","name":"some_name","description":null,"custom":{"a":3},"created":"2019-08-19T21:20:47.314439Z","updated":"2019-08-19T21:20:47.314439Z","eTag":"AYfFv4PUk4yMOg"}}'
    headers:
    - !!python/tuple
      - Date
      - - Mon, 19 Aug 2019 21:20:47 GMT
    - !!python/tuple
      - Content-Type
      - - application/json
    - !!python/tuple
      - Content-Length
      - - '198'
    - !!python/tuple
      - Connection
      - - close
    - !!python/tuple
      - Server
      - - nginx/1.15.6
    status:
      code: 200
      message: OK
    url: http://ps.pndsn.com/v1/objects/demo/spaces?include=custom&pnsdk=PubNub-Python-Tornado%2F4.1.0&uuid=8248e1b8-1266-4b48-917b-2732580d8fa4
version: 1
