interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v1/objects/demo/spaces/in_space?include=custom
  response:
    body:
      string: '{"status":200,"data":{"id":"in_space","name":"some_name","description":null,"custom":{"a":3},"created":"2019-08-19T21:20:47.314439Z","updated":"2019-08-19T21:20:47.314439Z","eTag":"AYfFv4PUk4yMOg"}}'
    headers:
    - !!python/tuple
      - Date
      - - Mon, 19 Aug 2019 21:20:52 GMT
    - !!python/tuple
      - Content-Type
      - - application/json
    - !!python/tuple
      - Content-Length
      - - '198'
    - !!python/tuple
      - Connection
      - - close
    - !!python/tuple
      - Server
      - - nginx/1.15.6
    status:
      code: 200
      message: OK
    url: http://ps.pndsn.com/v1/objects/demo/spaces/in_space?include=custom&pnsdk=PubNub-Python-Tornado%2F4.1.0&uuid=31a5a22a-6d9b-4cad-a0c6-086f25cc0553
version: 1
