interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v1/objects/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/spaces/my-chanel
  response:
    body:
      string: "{\n  \"data\": {\n    \"created\": \"2019-02-20T23:11:20.893755\",\n\
        \    \"description\": \"A space that is mine\",\n    \"eTag\": \"RTc1NUQwNUItREMyNy00Q0YxLUJCNDItMEZDMTZDMzVCN0VGCg==\"\
        ,\n    \"id\": \"my-channel\",\n    \"name\": \"My space\",\n    \"updated\"\
        : \"2019-02-20T23:11:20.893755\"\n  },\n  \"status\": 200\n}"
    headers:
    - !!python/tuple
      - Access-Control-Allow-Origin
      - - '*'
    - !!python/tuple
      - Content-Type
      - - application/json
    - !!python/tuple
      - Date
      - - Sun, 04 Aug 2019 17:43:40 GMT
    - !!python/tuple
      - Content-Length
      - - '284'
    - !!python/tuple
      - Connection
      - - close
    status:
      code: 200
      message: OK
    url: http://ps.pndsn.com/v1/objects/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/spaces/my-chanel?pnsdk=PubNub-Python-Tornado%2F4.1.0&uuid=54fdaf57-ca7b-4fcd-a4b8-b8a0c1b87998
version: 1
