interactions:
- request:
    body: '{"id": "my-channel", "name": "My space", "description": "A space that is
      mine"}'
    headers:
    method: PATCH
    uri: http://ps.pndsn.com/v1/objects/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/spaces/my-channel
  response:
    body:
      string: "{\n  \"data\": {\n    \"created\": \"2019-02-20T23:11:20.893755\",\n\
        \    \"description\": \"A space that is mine\",\n    \"eTag\": \"RTc1NUQwNUItREMyNy00Q0YxLUJCNDItMEZDMTZDMzVCN0VGCg==\"\
        ,\n    \"id\": \"my-channel\",\n    \"name\": \"My space\",\n    \"updated\"\
        : \"2019-02-20T23:11:20.893755\"\n  },\n  \"status\": \"ok\"\n}"
    headers:
    - !!python/tuple
      - Access-Control-Allow-Origin
      - - '*'
    - !!python/tuple
      - Content-Type
      - - application/json
    - !!python/tuple
      - Date
      - - Sun, 21 Jul 2019 11:57:06 GMT
    - !!python/tuple
      - Content-Length
      - - '285'
    - !!python/tuple
      - Connection
      - - close
    status:
      code: 200
      message: OK
    url: http://ps.pndsn.com/v1/objects/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/spaces/my-channel?pnsdk=PubNub-Python-Tornado%2F4.1.0&uuid=4301d4ab-e67c-4fa4-b8c8-477114fc3666
version: 1
