interactions:
- request:
    body: '{"description": "desc"}'
    headers:
    method: PATCH
    uri: http://ps.pndsn.com/v1/objects/demo/spaces/in_space?include=custom
  response:
    body:
      string: '{"status":200,"data":{"id":"in_space","name":"some_name","description":"desc","custom":{"a":3},"created":"2019-08-19T21:20:47.314439Z","updated":"2019-08-19T21:20:56.991607Z","eTag":"Ad/T8bjmyoKQWw"}}'
    headers:
    - !!python/tuple
      - Date
      - - Mon, 19 Aug 2019 21:20:57 GMT
    - !!python/tuple
      - Content-Type
      - - application/json
    - !!python/tuple
      - Content-Length
      - - '200'
    - !!python/tuple
      - Connection
      - - close
    - !!python/tuple
      - Server
      - - nginx/1.15.6
    status:
      code: 200
      message: OK
    url: http://ps.pndsn.com/v1/objects/demo/spaces/in_space?include=custom&pnsdk=PubNub-Python-Tornado%2F4.1.0&uuid=9dd7e485-fa79-4f5b-926f-09f5dbd4bd6c
version: 1
