interactions:
- request:
    body: '{"id": "mg", "name": "MAGNUM", "custom": {"XXX": "YYYY"}}'
    headers:
    method: POST
    uri: http://ps.pndsn.com/v1/objects/demo/users?include=custom
  response:
    body:
      string: '{"status":200,"data":{"id":"mg","name":"MAGNUM","externalId":null,"profileUrl":null,"email":null,"custom":{"XXX":"YYYY"},"created":"2019-08-19T20:58:35.105244Z","updated":"2019-08-19T20:58:35.105244Z","eTag":"Aaa/h+eBi9elsgE"}}'
    headers:
    - !!python/tuple
      - Date
      - - Mon, 19 Aug 2019 20:58:35 GMT
    - !!python/tuple
      - Content-Type
      - - application/json
    - !!python/tuple
      - Content-Length
      - - '227'
    - !!python/tuple
      - Connection
      - - close
    - !!python/tuple
      - Server
      - - nginx/1.15.6
    status:
      code: 200
      message: OK
    url: http://ps.pndsn.com/v1/objects/demo/users?include=custom&pnsdk=PubNub-Python-Tornado%2F4.1.0&uuid=7efb3606-842f-4148-b231-fbd69df616fd
version: 1
