interactions:
- request:
    body: '{"id": "user-1", "name": "John Doe", "externalId": null, "profileUrl":
      null, "email": "jack@twitter.com"}'
    headers:
    method: POST
    uri: http://ps.pndsn.com/v1/objects/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/users
  response:
    body:
      string: "{\n  \"data\": {\n    \"created\": \"2019-02-20T23:11:20.893755\",\n\
        \    \"eTag\": \"MDcyQ0REOTUtNEVBOC00QkY2LTgwOUUtNDkwQzI4MjgzMTcwCg==\",\n\
        \    \"email\": \"jack@twitter.com\",\n    \"externalId\": null,\n    \"id\"\
        : \"user-1\",\n    \"name\": \"John Doe\",\n    \"profileUrl\": null,\n  \
        \  \"updated\": \"2019-02-20T23:11:20.893755\"\n  },\n  \"status\": \"ok\"\
        \n}"
    headers:
    - !!python/tuple
      - Access-Control-Allow-Origin
      - - '*'
    - !!python/tuple
      - Content-Type
      - - application/json
    - !!python/tuple
      - Date
      - - Sun, 14 Jul 2019 21:53:18 GMT
    - !!python/tuple
      - Content-Length
      - - '319'
    - !!python/tuple
      - Connection
      - - close
    status:
      code: 200
      message: OK
    url: http://ps.pndsn.com/v1/objects/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/users?pnsdk=PubNub-Python-Tornado%2F4.1.0&uuid=180dbd47-34a5-4a71-afc8-a8a3097e0eba
version: 1
