interactions:
- request:
    body: '{"name": "number 3"}'
    headers:
    method: PATCH
    uri: http://ps.pndsn.com/v1/objects/demo/users/mg?include=custom
  response:
    body:
      string: '{"status":200,"data":{"id":"mg","name":"number 3","externalId":null,"profileUrl":null,"email":null,"custom":{"XXX":"YYYY"},"created":"2019-08-19T20:58:35.105244Z","updated":"2019-08-19T20:58:44.599943Z","eTag":"Af/+vv+glMjK3gE"}}'
    headers:
    - !!python/tuple
      - Date
      - - Mon, 19 Aug 2019 20:58:44 GMT
    - !!python/tuple
      - Content-Type
      - - application/json
    - !!python/tuple
      - Content-Length
      - - '229'
    - !!python/tuple
      - Connection
      - - close
    - !!python/tuple
      - Server
      - - nginx/1.15.6
    status:
      code: 200
      message: OK
    url: http://ps.pndsn.com/v1/objects/demo/users/mg?include=custom&pnsdk=PubNub-Python-Tornado%2F4.1.0&uuid=fd7bf2aa-b894-41fb-a7a6-521237ea0a02
version: 1
