interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v1/objects/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/users?include=%5B%22externalId%22%2C+%22profileUrl%22%2C+%22email%22%2C+%22custom%22%2C+%22created%22%2C+%22updated%22%2C+%22eTag%22%5D
  response:
    body:
      string: "{\n  \"data\": [\n    {\n      \"created\": \"2019-02-20T23:11:20.893755\"\
        ,\n      \"custom\": null,\n      \"eTag\": \"MDcyQ0REOTUtNEVBOC00QkY2LTgwOUUtNDkwQzI4MjgzMTcwCg==\"\
        ,\n      \"email\": \"jack@twitter.com\",\n      \"externalId\": null,\n \
        \     \"id\": \"user-1\",\n      \"name\": \"John Doe\",\n      \"profileUrl\"\
        : null,\n      \"updated\": \"2019-02-20T23:11:20.893755\"\n    },\n    {\n\
        \      \"created\": \"2019-02-19T13:10:20.893755\",\n      \"custom\": {\n\
        \        \"phone\": \"999-999-9999\"\n      },\n      \"eTag\": \"QkRENDA5MjItMUZCNC00REI5LUE4QTktRjJGNUMxNTc2MzE3Cg==\"\
        ,\n      \"email\": \"bobc@example.com\",\n      \"externalId\": null,\n \
        \     \"id\": \"user-2\",\n      \"name\": \"Bob Cat\",\n      \"profileUrl\"\
        : null,\n      \"updated\": \"2019-02-21T03:29:00.173452\"\n    }\n  ],\n\
        \  \"status\": \"ok\"\n}"
    headers:
    - !!python/tuple
      - Access-Control-Allow-Origin
      - - '*'
    - !!python/tuple
      - Content-Type
      - - application/json
    - !!python/tuple
      - Date
      - - Sun, 14 Jul 2019 17:22:20 GMT
    - !!python/tuple
      - Content-Length
      - - '738'
    - !!python/tuple
      - Connection
      - - close
    status:
      code: 200
      message: OK
    url: http://ps.pndsn.com/v1/objects/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/users?include=%5B%22externalId%22%2C%20%22profileUrl%22%2C%20%22email%22%2C%20%22custom%22%2C%20%22created%22%2C%20%22updated%22%2C%20%22eTag%22%5D&pnsdk=PubNub-Python-Tornado%2F4.1.0&uuid=ea9a47a0-e983-43a9-88d5-ce85f275361f
version: 1
