interactions:
- request:
    body: !!python/unicode 
    headers:
    method: GET
    uri: http://ps.pndsn.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/uuid/00de2586-7ad8-4955-b5f6-87cae3215d02?pnsdk=PubNub-Python-Twisted%2F4.0.4
  response:
    body: {string: !!python/unicode '{"status": 200, "message": "OK", "payload": {"channels":
        ["twisted-test-2", "twisted-test-1"]}, "service": "Presence"}'}
    headers: !!python/object:twisted.web.http_headers.Headers
      _rawHeaders:
        user-agent: [PubNub-Python-Twisted/4.0.4]
    status: {code: 200, message: ''}
    url: http://ps.pndsn.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/uuid/00de2586-7ad8-4955-b5f6-87cae3215d02?pnsdk=PubNub-Python-Twisted%2F4.0.4&uuid=d8f596f2-dc2c-4015-af8a-73374f770590
version: 1
