interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://pubsub.pubnub.com/publish/blah/blah/0/blah/0/%22hey%22?pnsdk=PubNub-Python-Asyncio%2F4.0.1
  response:
    body: {string: '{"message":"Invalid Subscribe Key","error":true,"service":"Access
        Manager","status":400}

'}
    headers: {ACCESS-CONTROL-ALLOW-HEADERS: 'Origin, X-Requested-With, Content-Type,
        Accept', ACCESS-CONTROL-ALLOW-METHODS: GET, ACCESS-CONTROL-ALLOW-ORIGIN: '*',
      CACHE-CONTROL: 'no-cache, no-store, must-revalidate', CONNECTION: keep-alive,
      CONTENT-TYPE: text/javascript; charset=UTF-8, DATE: 'Tue, 15 Nov 2016 09:25:13
        GMT', SERVER: nginx, TRANSFER-ENCODING: chunked}
    status: {code: 400, message: Bad Request}
    url: http://pubsub.pubnub.com/publish/blah/blah/0/blah/0/%22hey%22?seqn=1&uuid=6db97bfd-56e5-40c7-9bb3-aa62b4203124&pnsdk=PubNub-Python-Asyncio%2F4.0.1
version: 1
