interactions:
- request:
    body: !!python/unicode 
    headers:
    method: GET
    uri: http://ps.pndsn.com/v1/channel-registration/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel-group/cgttg?pnsdk=PubNub-Python-Twisted%2F4.0.4
  response:
    body: {string: !!python/unicode '{"status": 200, "payload": {"channels": ["cgttc0",
        "cgttc1"], "group": "cgttg"}, "service": "channel-registry", "error": false}'}
    headers: !!python/object:twisted.web.http_headers.Headers
      _rawHeaders:
        user-agent: [PubNub-Python-Twisted/4.0.4]
    status: {code: 200, message: ''}
    url: http://ps.pndsn.com/v1/channel-registration/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel-group/cgttg?pnsdk=PubNub-Python-Twisted%2F4.0.4&uuid=4b7a6c42-966f-41ad-a395-c9e9ef5919ec
version: 1
