interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ps.pndsn.com/v1/files/sub-c-mock-key/channels/files_asyncio_ch/files
  response:
    body:
      string: '{"status":200,"data":[{"name":"king_arthur.txt","id":"05fe1901-dfea-4ccf-abd6-423deda262aa","size":19,"created":"2020-10-21T15:27:06Z"},{"name":"king_arthur.txt","id":"2a7d29c8-e8f4-4c2b-a24d-4b5f165d366e","size":19,"created":"2020-10-21T15:20:48Z"},{"name":"king_arthur.txt","id":"2f9c0888-375b-4599-a086-0f47837eee87","size":19,"created":"2020-10-21T15:31:34Z"},{"name":"king_arthur.txt","id":"320a8c88-a412-43a4-957e-fec73a4a781f","size":19,"created":"2020-10-21T15:31:13Z"},{"name":"king_arthur.txt","id":"7ce8d4ad-92b7-430a-ab8a-ba6b3489049f","size":19,"created":"2020-10-21T16:59:30Z"},{"name":"king_arthur[...]
