interactions:
- request:
    body: '{"name": "None", "email": "None", "externalId": "None", "profileUrl": "None",
      "custom": null, "status": "None", "type": "None"}'
    headers:
      Content-type:
      - application/json
    method: POST
    uri: https://test.ps.pn/v3/objects/sub-c-test/users/JosephMarieJacquard
  response:
    body:
      string: '{"data":{"custom":null,"email":"None","externalId":"None","id":"JosephMarieJacquard","name":"None","profileUrl":"None","status":"None","type":"None"},"status":200}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "Joseph Marie Jacquard", "email": "jmjacquard@user.id", "externalId":
      "None", "profileUrl": "None", "custom": {"dob": "1752-07-07"}, "status": "legend",
      "type": "inventor"}'
    headers:
      Content-type:
      - application/json
    method: POST
    uri: https://test.ps.pn/v3/objects/sub-c-test/users/JosephMarieJacquard
  response:
    body:
      string: '{"error":{"message":"Requested resource already exists.","source":"metadata"},"status":409}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 409
      message: Conflict
- request:
    body: null
    headers:
    method: DELETE
    uri: https://test.ps.pn/v3/objects/sub-c-test/users/JosephMarieJacquard
  response:
    body:
      string: '{"status":200}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
