interactions:
- request:
    body: '{"name": "Ada Lovelace", "email": "ada.lovelace@user.id", "externalId":
      "x1x2x3", "profileUrl": "https://eee.ee/eeee/e/ee.e", "custom": {"dob": "12/10/1815"},
      "status": "legend", "type": "programmer"}'
    headers:
      Content-type:
      - application/json
    method: POST
    uri: https://test.ps.pn/v3/objects/sub-c-test/users/AdaLovelace
  response:
    body:
      string: '{"data":{"custom":{"dob":"12/10/1815"},"email":"ada.lovelace@user.id","externalId":"x1x2x3","id":"AdaLovelace","name":"Ada
        Lovelace","profileUrl":"https://eee.ee/eeee/e/ee.e","status":"legend","type":"programmer"},"status":200}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://test.ps.pn/v3/objects/sub-c-test/users/AdaLovelace
  response:
    body:
      string: '{"status":200}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
