interactions:
- request:
    body: '{"name": "None", "email": "None", "externalId": "None", "profileUrl": "None",
      "custom": null, "status": "None", "type": "None"}'
    headers:
      Content-type:
      - application/json
    method: PUT
    uri: https://test.ps.pn/v3/objects/sub-c-test/users/GraceBrewsterMurrayHopper
  response:
    body:
      string: '{"data":{"custom":null,"email":"None","externalId":"None","id":"GraceBrewsterMurrayHopper","name":"None","profileUrl":"None","status":"None","type":"None"},"status":200}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://test.ps.pn/v3/objects/sub-c-test/users
  response:
    body:
      string: '{"data":[{"custom":null,"email":"None","externalId":"None","id":"FranBlanche","name":"None","profileUrl":"None","status":"None","type":"None"},{"custom":null,"email":"None","externalId":"None","id":"GraceBrewsterMurrayHopper","name":"None","profileUrl":"None","status":"None","type":"None"},{"custom":null,"email":"None","externalId":"None","id":"MargaretHeafieldHamilton","name":"None","profileUrl":"None","status":"None","type":"None"}],"status":200}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://test.ps.pn/v3/objects/sub-c-test/users/GraceBrewsterMurrayHopper
  response:
    body:
      string: '{"status":200}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://test.ps.pn/v3/objects/sub-c-test/users/MargaretHeafieldHamilton
  response:
    body:
      string: '{"status":200}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://test.ps.pn/v3/objects/sub-c-test/users/FranBlanche
  response:
    body:
      string: '{"status":200}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
