interactions:
- request:
    body: null
    headers:
    method: DELETE
    uri: https://test.ps.pn/v3/objects/sub-c-test/users/GraceBrewsterMurrayHopper
  response:
    body:
      string: '{"status":200}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "Grace Brewster Murray Hopper", "email": "admiral.grace@user.id",
      "externalId": "None", "profileUrl": "None", "custom": {"dob": "1906-12-09"},
      "status": "legend", "type": "debugger"}'
    headers:
      Content-type:
      - application/json
    method: POST
    uri: https://test.ps.pn/v3/objects/sub-c-test/users/GraceBrewsterMurrayHopper
  response:
    body:
      string: '{"data":{"custom":{"dob":"1906-12-09"},"email":"admiral.grace@user.id","externalId":"None","id":"GraceBrewsterMurrayHopper","name":"Grace
        Brewster Murray Hopper","profileUrl":"None","status":"legend","type":"debugger"},"status":200}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://test.ps.pn/v3/objects/sub-c-test/users/GraceBrewsterMurrayHopper
  response:
    body:
      string: '{"status":200}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
