interactions:
- request:
    body: null
    headers:
    method: DELETE
    uri: https://test.ps.pn/v3/objects/sub-c-test/users/StevenPaulJobs
  response:
    body:
      string: '{"status":200}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "Steven Paul Jobs", "email": "steve-j@user.id", "externalId":
      "None", "profileUrl": "None", "custom": {"dob": "1955-02-24"}, "status": "guru",
      "type": "entrepreneur"}'
    headers:
      Content-type:
      - application/json
    method: PATCH
    uri: https://test.ps.pn/v3/objects/sub-c-test/users/StevenPaulJobs
  response:
    body:
      string: '{"error":{"message":"Requested resource does not exists.","source":"metadata"},"status":404}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: DELETE
    uri: https://test.ps.pn/v3/objects/sub-c-test/users/StevenPaulJobs
  response:
    body:
      string: '{"status":200}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
