interactions:
- request:
    body: '{"name": "None", "email": "None", "externalId": "None", "profileUrl": "None",
      "custom": null, "status": "None", "type": "None"}'
    headers:
      Content-type:
      - application/json
    method: POST
    uri: https://test.ps.pn/v3/objects/sub-c-test/users/AdaLovelace
  response:
    body:
      string: '{"data":{"custom":null,"email":"None","externalId":"None","id":"AdaLovelace","name":"None","profileUrl":"None","status":"None","type":"None"},"status":200}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "Ada Lovelace", "email": "ada.lovelace@user.id", "externalId":
      "None", "profileUrl": "None", "custom": {"dob": "1815-12-10"}, "status": "legend",
      "type": "programmer"}'
    headers:
      Content-type:
      - application/json
    method: PATCH
    uri: https://test.ps.pn/v3/objects/sub-c-test/users/AdaLovelace
  response:
    body:
      string: '{"data":{"custom":{"dob":"1815-12-10"},"email":"ada.lovelace@user.id","externalId":"None","id":"AdaLovelace","name":"Ada
        Lovelace","profileUrl":"None","status":"legend","type":"programmer"},"status":200}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://test.ps.pn/v3/objects/sub-c-test/users/AdaLovelace
  response:
    body:
      string: '{"status":200}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
