interactions:
- request:
    body: '{"name": "None", "email": "None", "externalId": "None", "profileUrl": "None",
      "custom": null, "status": "None", "type": "None"}'
    headers:
      Content-type:
      - application/json
    method: POST
    uri: https://test.ps.pn/v3/objects/sub-c-test/users/CharlesBabbage
  response:
    body:
      string: '{"data":{"custom":null,"email":"None","externalId":"None","id":"CharlesBabbage","name":"None","profileUrl":"None","status":"None","type":"None"},"status":200}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "Charles Babbage", "email": "charlie.b@user.id", "externalId":
      "None", "profileUrl": "None", "custom": {"dob": "1791-12-26"}, "status": "legend",
      "type": "genius"}'
    headers:
      Content-type:
      - application/json
    method: PUT
    uri: https://test.ps.pn/v3/objects/sub-c-test/users/CharlesBabbage
  response:
    body:
      string: '{"data":{"custom":{"dob":"1791-12-26"},"email":"charlie.b@user.id","externalId":"None","id":"CharlesBabbage","name":"Charles
        Babbage","profileUrl":"None","status":"legend","type":"genius"},"status":200}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://test.ps.pn/v3/objects/sub-c-test/users/CharlesBabbage
  response:
    body:
      string: '{"status":200}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
