interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/where-now-tornado-ch1/0?pnsdk=PubNub-Python-Tornado%2F4.0.4&tt=0
  response:
    body: {string: '{"t":{"t":"14717822576549802","r":12},"m":[]}'}
    headers:
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Cache-Control
      - [no-cache]
    - !!python/tuple
      - Access-Control-Allow-Methods
      - [GET]
    - !!python/tuple
      - Content-Type
      - [text/javascript; charset="UTF-8"]
    - !!python/tuple
      - Content-Length
      - ['45']
    - !!python/tuple
      - Date
      - ['Sun, 21 Aug 2016 12:24:17 GMT']
    - !!python/tuple
      - Access-Control-Allow-Origin
      - ['*']
    status: {code: 200, message: OK}
    url: http://ps.pndsn.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/where-now-tornado-ch1/0?tt=0&uuid=where-now-tornado-uuid&pnsdk=PubNub-Python-Tornado%2F4.0.4
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/where-now-tornado-ch1,where-now-tornado-ch2/0?pnsdk=PubNub-Python-Tornado%2F4.0.4&tr=12&tt=0
  response:
    body: {string: '{"t":{"t":"14717822577171975","r":12},"m":[]}'}
    headers:
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Cache-Control
      - [no-cache]
    - !!python/tuple
      - Access-Control-Allow-Methods
      - [GET]
    - !!python/tuple
      - Content-Type
      - [text/javascript; charset="UTF-8"]
    - !!python/tuple
      - Content-Length
      - ['45']
    - !!python/tuple
      - Date
      - ['Sun, 21 Aug 2016 12:24:17 GMT']
    - !!python/tuple
      - Access-Control-Allow-Origin
      - ['*']
    status: {code: 200, message: OK}
    url: http://ps.pndsn.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/where-now-tornado-ch1,where-now-tornado-ch2/0?tr=12&tt=0&uuid=where-now-tornado-uuid&pnsdk=PubNub-Python-Tornado%2F4.0.4
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/uuid/where-now-tornado-uuid?pnsdk=PubNub-Python-Tornado%2F4.0.4
  response:
    body: {string: '{"status": 200, "message": "OK", "payload": {"channels": ["where-now-tornado-ch2",
        "where-now-tornado-ch1"]}, "service": "Presence"}'}
    headers:
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Cache-Control
      - [no-cache]
    - !!python/tuple
      - Age
      - ['0']
    - !!python/tuple
      - Access-Control-Allow-Methods
      - ['OPTIONS, GET, POST']
    - !!python/tuple
      - Content-Type
      - [text/javascript; charset="UTF-8"]
    - !!python/tuple
      - Content-Length
      - ['132']
    - !!python/tuple
      - Date
      - ['Sun, 21 Aug 2016 12:24:22 GMT']
    - !!python/tuple
      - Accept-Ranges
      - [bytes]
    - !!python/tuple
      - Access-Control-Allow-Origin
      - ['*']
    - !!python/tuple
      - Server
      - [Pubnub Presence]
    status: {code: 200, message: OK}
    url: http://ps.pndsn.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/uuid/where-now-tornado-uuid?uuid=where-now-tornado-uuid&pnsdk=PubNub-Python-Tornado%2F4.0.4
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/where-now-tornado-ch1,where-now-tornado-ch2/leave?pnsdk=PubNub-Python-Tornado%2F4.0.4
  response:
    body: {string: '{"status": 200, "action": "leave", "message": "OK", "service":
        "Presence"}'}
    headers:
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Cache-Control
      - [no-cache]
    - !!python/tuple
      - Age
      - ['0']
    - !!python/tuple
      - Access-Control-Allow-Methods
      - ['OPTIONS, GET, POST']
    - !!python/tuple
      - Content-Type
      - [text/javascript; charset="UTF-8"]
    - !!python/tuple
      - Content-Length
      - ['74']
    - !!python/tuple
      - Date
      - ['Sun, 21 Aug 2016 12:24:23 GMT']
    - !!python/tuple
      - Accept-Ranges
      - [bytes]
    - !!python/tuple
      - Access-Control-Allow-Origin
      - ['*']
    - !!python/tuple
      - Server
      - [Pubnub Presence]
    status: {code: 200, message: OK}
    url: http://ps.pndsn.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/where-now-tornado-ch1,where-now-tornado-ch2/leave?uuid=where-now-tornado-uuid&pnsdk=PubNub-Python-Tornado%2F4.0.4
version: 1
