interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/publish/blah/blah/0/blah/0/%22hey%22?pnsdk=PubNub-Python-Tornado%2F4.0.2
  response:
    body: {string: !!python/unicode '{"message":"Invalid Subscribe Key","error":true,"service":"Access
        Manager","status":400}

'}
    headers:
    - !!python/tuple
      - Access-Control-Allow-Headers
      - ['Origin, X-Requested-With, Content-Type, Accept']
    - !!python/tuple
      - Transfer-Encoding
      - [chunked]
    - !!python/tuple
      - Server
      - [nginx]
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Cache-Control
      - ['no-cache, no-store, must-revalidate']
    - !!python/tuple
      - Date
      - ['Thu, 15 Dec 2016 15:16:59 GMT']
    - !!python/tuple
      - Access-Control-Allow-Origin
      - ['*']
    - !!python/tuple
      - Access-Control-Allow-Methods
      - [GET]
    - !!python/tuple
      - Content-Type
      - [text/javascript; charset=UTF-8]
    status: {code: 400, message: Bad Request}
    url: http://ps.pndsn.com/publish/blah/blah/0/blah/0/%22hey%22?pnsdk=PubNub-Python-Tornado%2F4.0.2&seqn=1&uuid=189c0a7b-13b1-4d4c-a257-14fc2a124aaa
version: 1
