interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://pubsub.pubnub.com/v2/history/sub-key/sub-c-7ba2ac4c-4836-11e6-85a4-0619f8945a4f/channel/history-native-sync-ch?count=5&pnsdk=PubNub-Python%2F4.0.1
  response:
    body: {string: '{"message":"Forbidden","payload":{"channels":["history-native-sync-ch"]},"error":true,"service":"Access
        Manager","status":403}

'}
    headers:
      Content-Type: [text/javascript; charset=UTF-8]
      X-Blocks-Enabled: ['0']
    status: {code: 403, message: Forbidden}
version: 1
