interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ps.pndsn.com/v2/auth/grant/sub-key/SUB_KEY?auth=authKey123&g=1&j=1&target-uuid=someuuid&ttl=120&u=1
  response:
    body:
      string: '{"message":"Success","payload":{"level":"uuid","subscribe_key":"SUB_KEY","ttl":120,"uuids":{"someuuid":{"auths":{"authKey123":{"r":0,"w":0,"m":0,"d":0,"g":1,"u":1,"j":1}}}}},"service":"Access
        Manager","status":200}'
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
