interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://pubsub.pubnub.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/test-state-asyncio-ch/uuid/test-state-asyncio-uuid/data
  response:
    body: {string: '{"status": 200, "message": "OK", "payload": {"count": 5, "name":
        "Alex"}, "service": "Presence"}'}
    headers: {ACCEPT-RANGES: bytes, ACCESS-CONTROL-ALLOW-METHODS: 'OPTIONS, GET, POST',
      ACCESS-CONTROL-ALLOW-ORIGIN: '*', AGE: '0', CACHE-CONTROL: no-cache, CONNECTION: keep-alive,
      CONTENT-LENGTH: '96', CONTENT-TYPE: text/javascript; charset="UTF-8", DATE: 'Thu,
        11 Aug 2016 20:06:08 GMT', SERVER: Pubnub Presence}
    status: {code: 200, message: OK}
    url: http://pubsub.pubnub.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/test-state-asyncio-ch/uuid/test-state-asyncio-uuid/data?pnsdk=PubNub-Python-Asyncio%2F4.0.2&state=%7B%22name%22%3A%20%22Alex%22%2C%20%22count%22%3A%205%7D&uuid=test-state-asyncio-uuid
- request:
    body: null
    headers:
    method: GET
    uri: http://pubsub.pubnub.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/test-state-asyncio-ch/uuid/test-state-asyncio-uuid
  response:
    body: {string: '{"status": 200, "uuid": "test-state-asyncio-uuid", "service":
        "Presence", "message": "OK", "payload": {"count": 5, "name": "Alex"}, "channel":
        "test-state-asyncio-ch"}'}
    headers: {ACCEPT-RANGES: bytes, ACCESS-CONTROL-ALLOW-METHODS: 'OPTIONS, GET, POST',
      ACCESS-CONTROL-ALLOW-ORIGIN: '*', AGE: '0', CACHE-CONTROL: no-cache, CONNECTION: keep-alive,
      CONTENT-LENGTH: '167', CONTENT-TYPE: text/javascript; charset="UTF-8", DATE: 'Thu,
        11 Aug 2016 20:06:08 GMT', SERVER: Pubnub Presence}
    status: {code: 200, message: OK}
    url: http://pubsub.pubnub.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/test-state-asyncio-ch/uuid/test-state-asyncio-uuid?pnsdk=PubNub-Python-Asyncio%2F4.0.2&uuid=test-state-asyncio-uuid
version: 1
