interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/publish/pub-c-98863562-19a6-4760-bf0b-d537d1f5c582/sub-c-7ba2ac4c-4836-11e6-85a4-0619f8945a4f/0/not_permitted_channel/0/%22hey%22?pnsdk=PubNub-Python-Tornado%2F4.0.4
  response:
    body: {string: '{"message":"Forbidden","payload":{"channels":["not_permitted_channel"]},"error":true,"service":"Access
        Manager","status":403}

'}
    headers:
    - !!python/tuple
      - Server
      - [nginx]
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - X-Blocks-Enabled
      - ['0']
    - !!python/tuple
      - Cache-Control
      - ['no-cache, no-store, must-revalidate']
    - !!python/tuple
      - Access-Control-Allow-Methods
      - [GET]
    - !!python/tuple
      - Date
      - ['Sun, 16 Oct 2016 17:25:46 GMT']
    - !!python/tuple
      - Content-Type
      - [text/javascript; charset=UTF-8]
    - !!python/tuple
      - Access-Control-Allow-Headers
      - ['Origin, X-Requested-With, Content-Type, Accept']
    - !!python/tuple
      - X-Consumed-Content-Encoding
      - [gzip]
    - !!python/tuple
      - Access-Control-Allow-Origin
      - ['*']
    - !!python/tuple
      - Transfer-Encoding
      - [chunked]
    status: {code: 403, message: Forbidden}
    url: http://ps.pndsn.com/publish/pub-c-98863562-19a6-4760-bf0b-d537d1f5c582/sub-c-7ba2ac4c-4836-11e6-85a4-0619f8945a4f/0/not_permitted_channel/0/%22hey%22?seqn=1&uuid=2bf14161-016e-4d0c-823a-d29acd1b2505&pnsdk=PubNub-Python-Tornado%2F4.0.4
[...]
