interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ps.pndsn.com/v2/subscribe/sub-c-mock-key/state-native-sync-ch-1,state-native-sync-ch-2/0?uuid=state-native-sync-uuid
  response:
    body:
      string: '{"t":{"t":"16608278698485679","r":43},"m":[]}'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://ps.pndsn.com/v2/presence/sub-key/sub-c-mock-key/uuid/state-native-sync-uuid?uuid=state-native-sync-uuid
  response:
    body:
      string: '{"status": 200, "message": "OK", "payload": {"channels": ["state-native-sync-ch-2",
        "state-native-sync-ch-1"]}, "service": "Presence"}'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://ps.pndsn.com/v2/presence/sub-key/sub-c-mock-key/channel/state-native-sync-ch-1,state-native-sync-ch-2/leave?uuid=state-native-sync-uuid
  response:
    body:
      string: '{"status": 200, "message": "OK", "action": "leave", "service": "Presence"}'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status:
      code: 200
      message: OK
version: 1
