interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ps.pndsn.com/v2/subscribe/sub-c-mock-key/wherenow-asyncio-channel/0?uuid=wherenow-asyncio-uuid
  response:
    body:
      string: '{"t":{"t":"16608276639105030","r":43},"m":[]}'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://ps.pndsn.com/v2/presence/sub-key/sub-c-mock-key/uuid/wherenow-asyncio-uuid?uuid=wherenow-asyncio-uuid
  response:
    body:
      string: '{"status": 200, "message": "OK", "payload": {"channels": ["wherenow-asyncio-channel"]},
        "service": "Presence"}'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://ps.pndsn.com/v2/presence/sub-key/sub-c-mock-key/channel/wherenow-asyncio-channel/leave?uuid=wherenow-asyncio-uuid
  response:
    body:
      string: '{"status": 200, "message": "OK", "action": "leave", "service": "Presence"}'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status:
      code: 200
      message: OK
version: 1
