interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v1/objects/demo/spaces/value1/users?count=True&include=custom%2Cuser%2Cuser.custom
  response:
    body:
      string: '{"status":200,"data":[{"id":"mg3","custom":null,"user":{"id":"mg3","name":"MAGNUM3","externalId":null,"profileUrl":null,"email":null,"custom":{"ZZZ":"IIII"},"created":"2019-08-18T12:56:23.449026Z","updated":"2019-08-18T12:56:23.449026Z","eTag":"AfjKyYTB8vSyVA"},"created":"2019-08-20T18:44:30.776833Z","updated":"2019-08-20T18:44:30.776833Z","eTag":"AY39mJKK//C0VA"}],"totalCount":1,"next":"MQ"}'
    headers:
    - !!python/tuple
      - Date
      - - Tue, 20 Aug 2019 18:53:16 GMT
    - !!python/tuple
      - Content-Type
      - - application/json
    - !!python/tuple
      - Transfer-Encoding
      - - chunked
    - !!python/tuple
      - Connection
      - - close
    - !!python/tuple
      - Server
      - - nginx/1.15.6
    - !!python/tuple
      - Vary
      - - Accept-Encoding
    - !!python/tuple
      - X-Consumed-Content-Encoding
      - - gzip
    status:
      code: 200
      message: OK
    url: http://ps.pndsn.com/v1/objects/demo/spaces/value1/users?count=True&include=custom,user,user.custom&pnsdk=PubNub-Python-Tornado%2F4.1.0&uuid=eaf633c6-898f-48f6-8a71-b639320f814f
version: 1
