interactions:
- request:
    body: '{"add": [{"id": "my-channel"}], "update": [{"id": "main", "custom": {"starred":
      true}}], "remove": [{"id": "space-0"}]}'
    headers:
    method: PATCH
    uri: http://ps.pndsn.com/v1/objects/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/users/charlie/spaces?count=True&include=%22custom%22&limit=10
  response:
    body:
      string: "{\n  \"data\": [\n    {\n      \"created\": \"2019-02-20T23:11:20.893755\"\
        ,\n      \"custom\": {\n        \"starred\": false\n      },\n      \"eTag\"\
        : \"RUNDMDUwNjktNUYwRC00RTI0LUI1M0QtNUUzNkE2NkU0MEVFCg==\",\n      \"id\"\
        : \"my-channel\",\n      \"space\": {\n        \"created\": \"2019-02-20T23:11:20.893755\"\
        ,\n        \"description\": \"A space that is mine\",\n        \"eTag\": \"\
        RTc1NUQwNUItREMyNy00Q0YxLUJCNDItMEZDMTZDMzVCN0VGCg==\",\n        \"id\": \"\
        my-channel\",\n        \"name\": \"My space\",\n        \"updated\": \"2019-02-20T23:11:20.893755\"\
        \n      },\n      \"updated\": \"2019-02-20T23:11:20.893755\"\n    },\n  \
        \  {\n      \"created\": \"2019-02-20T23:11:20.893755\",\n      \"custom\"\
        : {\n        \"starred\": true\n      },\n      \"eTag\": \"RUNDMDUwNjktNUYwRC00RTI0LUI1M0QtNUUzNkE2NkU0MEVFCg==\"\
        ,\n      \"id\": \"main\",\n      \"space\": {\n        \"created\": \"2019-02-20T23:11:20.893755\"\
        ,\n        \"custom\": {\n          \"motd\": \"Always check your spelling!\"\
        ,\n          \"public\": true\n        },\n        \"description\": \"The\
        \ main space\",\n        \"eTag\": \"RTc1NUQwNUItREMyNy00Q0YxLUJCNDItMEZDMTZDMzVCN0VGCg==\"\
        ,\n        \"id\": \"main\",\n        \"name\": \"Main space\",\n        \"\
        updated\": \"2019-02-20T23:11:20.893755\"\n      },\n      \"updated\": \"\
        2019-02-20T23:11:20.893755\"\n    }\n  ],\n  \"next\": \"RDIwQUIwM0MtNUM2Ni00ODQ5LUFGRjMtNDk1MzNDQzE3MUVCCg==\"\
        ,\n  \"prev\": \"MzY5RjkzQUQtNTM0NS00QjM0LUI0M0MtNjNBQUFGODQ5MTk2Cg==\",\n\
        \  \"status\": 200,\n  \"totalCount\": 7\n}"
    headers:
    - !!python/tuple
      - Access-Control-Allow-Origin
      - - '*'
    - !!python/tuple
      - Content-Type
      - - application/json
    - !!python/tuple
      - Date
      - - Sat, 03 Aug 2019 22:40:12 GMT
    - !!python/tuple
      - Content-Length
      - - '1378'
    - !!python/tuple
      - Connection
      - - close
    status:
      code: 200
      message: OK
    url: http://ps.pndsn.com/v1/objects/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/users/charlie/spaces?count=True&limit=10&include=%22custom%22&pnsdk=PubNub-Python-Tornado%2F4.1.0&uuid=07c69db6-bf20-4017-aa6e-bd51f96bfb22
version: 1
