interactions:
- request:
    body: '{"add": [{"id": "value1"}]}'
    headers:
    method: PATCH
    uri: http://ps.pndsn.com/v1/objects/demo/users/mg/spaces?include=custom%2Cspace%2Cspace.custom
  response:
    body:
      string: '{"status":200,"data":[{"id":"value1","custom":null,"space":{"id":"value1","name":"value2","description":"abcd","custom":null,"created":"2019-08-12T22:57:54.167167Z","updated":"2019-08-12T22:57:54.167167Z","eTag":"AaHahZqsyr6AOg"},"created":"2019-08-20T18:56:06.814728Z","updated":"2019-08-20T18:56:06.814728Z","eTag":"AY39mJKK//C0VA"}],"next":"MQ"}'
    headers:
    - !!python/tuple
      - Date
      - - Tue, 20 Aug 2019 18:56:06 GMT
    - !!python/tuple
      - Content-Type
      - - application/json
    - !!python/tuple
      - Transfer-Encoding
      - - chunked
    - !!python/tuple
      - Connection
      - - close
    - !!python/tuple
      - Server
      - - nginx/1.15.6
    - !!python/tuple
      - Vary
      - - Accept-Encoding
    - !!python/tuple
      - X-Consumed-Content-Encoding
      - - gzip
    status:
      code: 200
      message: OK
    url: http://ps.pndsn.com/v1/objects/demo/users/mg/spaces?include=custom,space,space.custom&pnsdk=PubNub-Python-Tornado%2F4.1.0&uuid=76153731-6cfe-45ca-8507-83592e46d3db
version: 1
