interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v1/channel-registration/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel-group/test-subscribe-asyncio-join-leave-cg-group?add=test-subscribe-asyncio-join-leave-cg-channel&uuid=test-subscribe-asyncio-messenger
  response:
    body: {string: '{"status": 200, "message": "OK", "service": "channel-registry",
        "error": false}'}
    headers: {ACCEPT-RANGES: bytes, ACCESS-CONTROL-ALLOW-METHODS: GET, ACCESS-CONTROL-ALLOW-ORIGIN: '*',
      AGE: '0', CACHE-CONTROL: no-cache, CONNECTION: keep-alive, CONTENT-LENGTH: '79',
      CONTENT-TYPE: text/javascript; charset="UTF-8", DATE: 'Fri, 16 Dec 2016 13:52:45
        GMT', SERVER: Pubnub}
    status: {code: 200, message: OK}
    url: http://ps.pndsn.com/v1/channel-registration/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel-group/test-subscribe-asyncio-join-leave-cg-group?add=test-subscribe-asyncio-join-leave-cg-channel&pnsdk=PubNub-Python-Asyncio%2F4.0.4&uuid=test-subscribe-asyncio-messenger
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/,/0?channel-group=test-subscribe-asyncio-join-leave-cg-group%2Ctest-subscribe-asyncio-join-leave-cg-group-pnpres&tt=0&uuid=test-subscribe-asyncio-listener
  response:
    body: {string: '{"t":{"t":"14818963663448174","r":12},"m":[]}'}
    headers: {ACCESS-CONTROL-ALLOW-METHODS: GET, ACCESS-CONTROL-ALLOW-ORIGIN: '*',
      CACHE-CONTROL: no-cache, CONNECTION: keep-alive, CONTENT-LENGTH: '45', CONTENT-TYPE: text/javascript;
        charset="UTF-8", DATE: 'Fri, 16 Dec 2016 13:52:46 GMT'}
    status: {code: 200, message: OK}
    url: http://ps.pndsn.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/,/0?pnsdk=PubNub-Python-Asyncio%2F4.0.4&tt=0&uuid=test-subscribe-asyncio-listener&channel-group=test-subscribe-asyncio-join-leave-cg-group,test-subscribe-asyncio-join-leave-cg-group-pnpres
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/,/0?channel-group=test-subscribe-asyncio-join-leave-cg-group%2Ctest-subscribe-asyncio-join-leave-cg-group-pnpres&tr=12&tt=14818963663448174&uuid=test-subscribe-asyncio-listener
  response:
    body: {string: '{"t":{"t":"14818963671558888","r":12},"m":[{"a":"2","f":0,"p":{"t":"14818963670791786","r":1},"k":"sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe","c":"test-subscribe-asyncio-join-leave-cg-channel-pnpres","d":{"action":
        "join", "timestamp": 1481896367, "uuid": "test-subscribe-asyncio-listener",
        "occupancy": 1},"b":"test-subscribe-asyncio-join-leave-cg-group-pnpres"}]}'}
    headers: {ACCESS-CONTROL-ALLOW-METHODS: GET, ACCESS-CONTROL-ALLOW-ORIGIN: '*',
      CACHE-CONTROL: no-cache, CONNECTION: keep-alive, CONTENT-LENGTH: '366', CONTENT-TYPE: text/javascript;
        charset="UTF-8", DATE: 'Fri, 16 Dec 2016 13:52:47 GMT'}
    status: {code: 200, message: OK}
    url: http://ps.pndsn.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/,/0?pnsdk=PubNub-Python-Asyncio%2F4.0.4&tt=14818963663448174&uuid=test-subscribe-asyncio-listener&tr=12&channel-group=test-subscribe-asyncio-join-leave-cg-group,test-subscribe-asyncio-join-leave-cg-group-pnpres
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/,/0?channel-group=test-subscribe-asyncio-join-leave-cg-group&tt=0&uuid=test-subscribe-asyncio-messenger
  response:
    body: {string: '{"t":{"t":"14818963670970002","r":12},"m":[]}'}
    headers: {ACCESS-CONTROL-ALLOW-METHODS: GET, ACCESS-CONTROL-ALLOW-ORIGIN: '*',
      CACHE-CONTROL: no-cache, CONNECTION: keep-alive, CONTENT-LENGTH: '45', CONTENT-TYPE: text/javascript;
        charset="UTF-8", DATE: 'Fri, 16 Dec 2016 13:52:47 GMT'}
    status: {code: 200, message: OK}
    url: http://ps.pndsn.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/,/0?pnsdk=PubNub-Python-Asyncio%2F4.0.4&tt=0&uuid=test-subscribe-asyncio-messenger&channel-group=test-subscribe-asyncio-join-leave-cg-group
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/,/leave?channel-group=test-subscribe-asyncio-join-leave-cg-group&uuid=test-subscribe-asyncio-messenger
  response:
    body: {string: '{"status": 200, "action": "leave", "message": "OK", "service":
        "Presence"}'}
    headers: {ACCEPT-RANGES: bytes, ACCESS-CONTROL-ALLOW-METHODS: 'OPTIONS, GET, POST',
      ACCESS-CONTROL-ALLOW-ORIGIN: '*', AGE: '0', CACHE-CONTROL: no-cache, CONNECTION: keep-alive,
      CONTENT-LENGTH: '74', CONTENT-TYPE: text/javascript; charset="UTF-8", DATE: 'Fri,
        16 Dec 2016 13:52:48 GMT', SERVER: Pubnub Presence}
    status: {code: 200, message: OK}
    url: http://ps.pndsn.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/,/leave?pnsdk=PubNub-Python-Asyncio%2F4.0.4&uuid=test-subscribe-asyncio-messenger&channel-group=test-subscribe-asyncio-join-leave-cg-group
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/,/leave?channel-group=test-subscribe-asyncio-join-leave-cg-group&uuid=test-subscribe-asyncio-listener
  response:
    body: {string: '{"status": 200, "action": "leave", "message": "OK", "service":
        "Presence"}'}
    headers: {ACCEPT-RANGES: bytes, ACCESS-CONTROL-ALLOW-METHODS: 'OPTIONS, GET, POST',
      ACCESS-CONTROL-ALLOW-ORIGIN: '*', AGE: '0', CACHE-CONTROL: no-cache, CONNECTION: keep-alive,
      CONTENT-LENGTH: '74', CONTENT-TYPE: text/javascript; charset="UTF-8", DATE: 'Fri,
        16 Dec 2016 13:52:48 GMT', SERVER: Pubnub Presence}
    status: {code: 200, message: OK}
    url: http://ps.pndsn.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/,/leave?pnsdk=PubNub-Python-Asyncio%2F4.0.4&uuid=test-subscribe-asyncio-listener&channel-group=test-subscribe-asyncio-join-leave-cg-group
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v1/channel-registration/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel-group/test-subscribe-asyncio-join-leave-cg-group?remove=test-subscribe-asyncio-join-leave-cg-channel&uuid=test-subscribe-asyncio-messenger
  response:
    body: {string: '{"status": 200, "message": "OK", "service": "channel-registry",
        "error": false}'}
    headers: {ACCEPT-RANGES: bytes, ACCESS-CONTROL-ALLOW-METHODS: GET, ACCESS-CONTROL-ALLOW-ORIGIN: '*',
      AGE: '0', CACHE-CONTROL: no-cache, CONNECTION: keep-alive, CONTENT-LENGTH: '79',
      CONTENT-TYPE: text/javascript; charset="UTF-8", DATE: 'Fri, 16 Dec 2016 13:52:48
        GMT', SERVER: Pubnub}
    status: {code: 200, message: OK}
    url: http://ps.pndsn.com/v1/channel-registration/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel-group/test-subscribe-asyncio-join-leave-cg-group?remove=test-subscribe-asyncio-join-leave-cg-channel&pnsdk=PubNub-Python-Asyncio%2F4.0.4&uuid=test-subscribe-asyncio-messenger
version: 1
