interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://pubsub.pubnub.com/v1/channel-registration/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel-group/test-subscribe-asyncio-join-leave-cg-group?add=test-subscribe-asyncio-join-leave-cg-channel&uuid=test-subscribe-asyncio-messenger&pnsdk=PubNub-Python-Asyncio%2F4.0.2
  response:
    body: {string: '{"status": 200, "message": "OK", "service": "channel-registry",
        "error": false}'}
    headers: {ACCEPT-RANGES: bytes, ACCESS-CONTROL-ALLOW-METHODS: GET, ACCESS-CONTROL-ALLOW-ORIGIN: '*',
      AGE: '0', CACHE-CONTROL: no-cache, CONNECTION: keep-alive, CONTENT-LENGTH: '79',
      CONTENT-TYPE: text/javascript; charset="UTF-8", DATE: 'Tue, 29 Nov 2016 16:48:40
        GMT', SERVER: Pubnub}
    status: {code: 200, message: OK}
    url: http://pubsub.pubnub.com/v1/channel-registration/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel-group/test-subscribe-asyncio-join-leave-cg-group?add=test-subscribe-asyncio-join-leave-cg-channel&uuid=test-subscribe-asyncio-messenger&pnsdk=PubNub-Python-Asyncio%2F4.0.2
- request:
    body: null
    headers:
    method: GET
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/,/0?uuid=test-subscribe-asyncio-listener&tt=0&pnsdk=PubNub-Python-Asyncio%2F4.0.2&channel-group=test-subscribe-asyncio-join-leave-cg-group,test-subscribe-asyncio-join-leave-cg-group-pnpres
  response:
    body: {string: '{"t":{"t":"14804381218848996","r":12},"m":[]}'}
    headers: {ACCESS-CONTROL-ALLOW-METHODS: GET, ACCESS-CONTROL-ALLOW-ORIGIN: '*',
      CACHE-CONTROL: no-cache, CONNECTION: keep-alive, CONTENT-LENGTH: '45', CONTENT-TYPE: text/javascript;
        charset="UTF-8", DATE: 'Tue, 29 Nov 2016 16:48:41 GMT'}
    status: {code: 200, message: OK}
    url: http://pubsub.pubnub.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/,/0?uuid=test-subscribe-asyncio-listener&tt=0&pnsdk=PubNub-Python-Asyncio%2F4.0.2&channel-group=test-subscribe-asyncio-join-leave-cg-group,test-subscribe-asyncio-join-leave-cg-group-pnpres
- request:
    body: null
    headers:
    method: GET
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/,/0?tr=12&tt=14804381218848996&uuid=test-subscribe-asyncio-listener&pnsdk=PubNub-Python-Asyncio%2F4.0.2&channel-group=test-subscribe-asyncio-join-leave-cg-group,test-subscribe-asyncio-join-leave-cg-group-pnpres
  response:
    body: {string: '{"t":{"t":"14804381228739104","r":12},"m":[{"a":"2","f":0,"p":{"t":"14804381227916797","r":1},"k":"sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe","c":"test-subscribe-asyncio-join-leave-cg-channel-pnpres","d":{"action":
        "join", "timestamp": 1480438122, "uuid": "test-subscribe-asyncio-listener",
        "occupancy": 1},"b":"test-subscribe-asyncio-join-leave-cg-group-pnpres"}]}'}
    headers: {ACCESS-CONTROL-ALLOW-METHODS: GET, ACCESS-CONTROL-ALLOW-ORIGIN: '*',
      CACHE-CONTROL: no-cache, CONNECTION: keep-alive, CONTENT-LENGTH: '366', CONTENT-TYPE: text/javascript;
        charset="UTF-8", DATE: 'Tue, 29 Nov 2016 16:48:42 GMT'}
    status: {code: 200, message: OK}
    url: http://pubsub.pubnub.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/,/0?tr=12&tt=14804381218848996&uuid=test-subscribe-asyncio-listener&pnsdk=PubNub-Python-Asyncio%2F4.0.2&channel-group=test-subscribe-asyncio-join-leave-cg-group,test-subscribe-asyncio-join-leave-cg-group-pnpres
- request:
    body: null
    headers:
    method: GET
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/,/0?uuid=test-subscribe-asyncio-messenger&tt=0&pnsdk=PubNub-Python-Asyncio%2F4.0.2&channel-group=test-subscribe-asyncio-join-leave-cg-group
  response:
    body: {string: '{"t":{"t":"14804381228085803","r":12},"m":[]}'}
    headers: {ACCESS-CONTROL-ALLOW-METHODS: GET, ACCESS-CONTROL-ALLOW-ORIGIN: '*',
      CACHE-CONTROL: no-cache, CONNECTION: keep-alive, CONTENT-LENGTH: '45', CONTENT-TYPE: text/javascript;
        charset="UTF-8", DATE: 'Tue, 29 Nov 2016 16:48:42 GMT'}
    status: {code: 200, message: OK}
    url: http://pubsub.pubnub.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/,/0?uuid=test-subscribe-asyncio-messenger&tt=0&pnsdk=PubNub-Python-Asyncio%2F4.0.2&channel-group=test-subscribe-asyncio-join-leave-cg-group
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://pubsub.pubnub.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/,/leave?uuid=test-subscribe-asyncio-messenger&pnsdk=PubNub-Python-Asyncio%2F4.0.2&channel-group=test-subscribe-asyncio-join-leave-cg-group
  response:
    body: {string: '{"status": 200, "action": "leave", "message": "OK", "service":
        "Presence"}'}
    headers: {ACCEPT-RANGES: bytes, ACCESS-CONTROL-ALLOW-METHODS: 'OPTIONS, GET, POST',
      ACCESS-CONTROL-ALLOW-ORIGIN: '*', AGE: '0', CACHE-CONTROL: no-cache, CONNECTION: keep-alive,
      CONTENT-LENGTH: '74', CONTENT-TYPE: text/javascript; charset="UTF-8", DATE: 'Tue,
        29 Nov 2016 16:48:44 GMT', SERVER: Pubnub Presence}
    status: {code: 200, message: OK}
    url: http://pubsub.pubnub.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/,/leave?uuid=test-subscribe-asyncio-messenger&pnsdk=PubNub-Python-Asyncio%2F4.0.2&channel-group=test-subscribe-asyncio-join-leave-cg-group
- request:
    body: null
    headers:
    method: GET
    uri: http://pubsub.pubnub.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/,/leave?uuid=test-subscribe-asyncio-listener&pnsdk=PubNub-Python-Asyncio%2F4.0.2&channel-group=test-subscribe-asyncio-join-leave-cg-group
  response:
    body: {string: '{"status": 200, "action": "leave", "message": "OK", "service":
        "Presence"}'}
    headers: {ACCEPT-RANGES: bytes, ACCESS-CONTROL-ALLOW-METHODS: 'OPTIONS, GET, POST',
      ACCESS-CONTROL-ALLOW-ORIGIN: '*', AGE: '0', CACHE-CONTROL: no-cache, CONNECTION: keep-alive,
      CONTENT-LENGTH: '74', CONTENT-TYPE: text/javascript; charset="UTF-8", DATE: 'Tue,
        29 Nov 2016 16:48:44 GMT', SERVER: Pubnub Presence}
    status: {code: 200, message: OK}
    url: http://pubsub.pubnub.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/,/leave?uuid=test-subscribe-asyncio-listener&pnsdk=PubNub-Python-Asyncio%2F4.0.2&channel-group=test-subscribe-asyncio-join-leave-cg-group
- request:
    body: null
    headers:
    method: GET
    uri: http://pubsub.pubnub.com/v1/channel-registration/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel-group/test-subscribe-asyncio-join-leave-cg-group?uuid=test-subscribe-asyncio-messenger&pnsdk=PubNub-Python-Asyncio%2F4.0.2&remove=test-subscribe-asyncio-join-leave-cg-channel
  response:
    body: {string: '{"status": 200, "message": "OK", "service": "channel-registry",
        "error": false}'}
    headers: {ACCEPT-RANGES: bytes, ACCESS-CONTROL-ALLOW-METHODS: GET, ACCESS-CONTROL-ALLOW-ORIGIN: '*',
      AGE: '0', CACHE-CONTROL: no-cache, CONNECTION: keep-alive, CONTENT-LENGTH: '79',
      CONTENT-TYPE: text/javascript; charset="UTF-8", DATE: 'Tue, 29 Nov 2016 16:48:44
        GMT', SERVER: Pubnub}
    status: {code: 200, message: OK}
    url: http://pubsub.pubnub.com/v1/channel-registration/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel-group/test-subscribe-asyncio-join-leave-cg-group?uuid=test-subscribe-asyncio-messenger&pnsdk=PubNub-Python-Asyncio%2F4.0.2&remove=test-subscribe-asyncio-join-leave-cg-channel
version: 1
