interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://pubsub.pubnub.com/v1/channel-registration/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel-group/test-subscribe-asyncio-group?add=test-subscribe-asyncio-channel&uuid=f73c5107-519c-42fd-b1e1-7f9377430082&pnsdk=PubNub-Python-Asyncio%2F4.0.2
  response:
    body: {string: '{"status": 200, "message": "OK", "service": "channel-registry",
        "error": false}'}
    headers: {ACCEPT-RANGES: bytes, ACCESS-CONTROL-ALLOW-METHODS: GET, ACCESS-CONTROL-ALLOW-ORIGIN: '*',
      AGE: '0', CACHE-CONTROL: no-cache, CONNECTION: keep-alive, CONTENT-LENGTH: '79',
      CONTENT-TYPE: text/javascript; charset="UTF-8", DATE: 'Tue, 16 Aug 2016 12:39:05
        GMT', SERVER: Pubnub}
    status: {code: 200, message: OK}
    url: http://pubsub.pubnub.com/v1/channel-registration/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel-group/test-subscribe-asyncio-group?add=test-subscribe-asyncio-channel&uuid=f73c5107-519c-42fd-b1e1-7f9377430082&pnsdk=PubNub-Python-Asyncio%2F4.0.2
- request:
    body: null
    headers:
    method: GET
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/,/0?uuid=f73c5107-519c-42fd-b1e1-7f9377430082&channel-group=test-subscribe-asyncio-group&pnsdk=PubNub-Python-Asyncio%2F4.0.2&tt=0
  response:
    body: {string: '{"t":{"t":"14713511466073676","r":12},"m":[]}'}
    headers: {ACCESS-CONTROL-ALLOW-METHODS: GET, ACCESS-CONTROL-ALLOW-ORIGIN: '*',
      CACHE-CONTROL: no-cache, CONNECTION: keep-alive, CONTENT-LENGTH: '45', CONTENT-TYPE: text/javascript;
        charset="UTF-8", DATE: 'Tue, 16 Aug 2016 12:39:06 GMT'}
    status: {code: 200, message: OK}
    url: http://pubsub.pubnub.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/,/0?uuid=f73c5107-519c-42fd-b1e1-7f9377430082&channel-group=test-subscribe-asyncio-group&pnsdk=PubNub-Python-Asyncio%2F4.0.2&tt=0
- request:
    body: null
    headers:
    method: GET
    uri: http://pubsub.pubnub.com/publish/pub-c-739aa0fc-3ed5-472b-af26-aca1b333ec52/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/0/test-subscribe-asyncio-channel/0/%22hey%22?uuid=f73c5107-519c-42fd-b1e1-7f9377430082&seqn=1&pnsdk=PubNub-Python-Asyncio%2F4.0.2
  response:
    body: {string: '[1,"Sent","14713511467409673"]'}
    headers: {ACCESS-CONTROL-ALLOW-METHODS: GET, ACCESS-CONTROL-ALLOW-ORIGIN: '*',
      CACHE-CONTROL: no-cache, CONNECTION: keep-alive, CONTENT-LENGTH: '30', CONTENT-TYPE: text/javascript;
        charset="UTF-8", DATE: 'Tue, 16 Aug 2016 12:39:06 GMT'}
    status: {code: 200, message: OK}
    url: http://pubsub.pubnub.com/publish/pub-c-739aa0fc-3ed5-472b-af26-aca1b333ec52/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/0/test-subscribe-asyncio-channel/0/%22hey%22?uuid=f73c5107-519c-42fd-b1e1-7f9377430082&seqn=1&pnsdk=PubNub-Python-Asyncio%2F4.0.2
- request:
    body: null
    headers:
    method: GET
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/,/0?tr=12&uuid=f73c5107-519c-42fd-b1e1-7f9377430082&channel-group=test-subscribe-asyncio-group&pnsdk=PubNub-Python-Asyncio%2F4.0.2&tt=14713511466073676
  response:
    body: {string: '{"t":{"t":"14713511467422512","r":12},"m":[{"a":"2","f":0,"i":"f73c5107-519c-42fd-b1e1-7f9377430082","s":1,"p":{"t":"14713511467409673","r":12},"k":"sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe","c":"test-subscribe-asyncio-channel","d":"hey","b":"test-subscribe-asyncio-group"}]}'}
    headers: {ACCESS-CONTROL-ALLOW-METHODS: GET, ACCESS-CONTROL-ALLOW-ORIGIN: '*',
      CACHE-CONTROL: no-cache, CONNECTION: keep-alive, CONTENT-LENGTH: '277', CONTENT-TYPE: text/javascript;
        charset="UTF-8", DATE: 'Tue, 16 Aug 2016 12:39:06 GMT'}
    status: {code: 200, message: OK}
    url: http://pubsub.pubnub.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/,/0?tr=12&uuid=f73c5107-519c-42fd-b1e1-7f9377430082&channel-group=test-subscribe-asyncio-group&pnsdk=PubNub-Python-Asyncio%2F4.0.2&tt=14713511466073676
- request:
    body: null
    headers:
    method: GET
    uri: http://pubsub.pubnub.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/,/leave?uuid=f73c5107-519c-42fd-b1e1-7f9377430082&channel-group=test-subscribe-asyncio-group&pnsdk=PubNub-Python-Asyncio%2F4.0.2
  response:
    body: {string: '{"status": 200, "action": "leave", "message": "OK", "service":
        "Presence"}'}
    headers: {ACCEPT-RANGES: bytes, ACCESS-CONTROL-ALLOW-METHODS: 'OPTIONS, GET, POST',
      ACCESS-CONTROL-ALLOW-ORIGIN: '*', AGE: '0', CACHE-CONTROL: no-cache, CONNECTION: keep-alive,
      CONTENT-LENGTH: '74', CONTENT-TYPE: text/javascript; charset="UTF-8", DATE: 'Tue,
        16 Aug 2016 12:39:06 GMT', SERVER: Pubnub Presence}
    status: {code: 200, message: OK}
    url: http://pubsub.pubnub.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/,/leave?uuid=f73c5107-519c-42fd-b1e1-7f9377430082&channel-group=test-subscribe-asyncio-group&pnsdk=PubNub-Python-Asyncio%2F4.0.2
- request:
    body: null
    headers:
    method: GET
    uri: http://pubsub.pubnub.com/v1/channel-registration/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel-group/test-subscribe-asyncio-group?uuid=f73c5107-519c-42fd-b1e1-7f9377430082&remove=test-subscribe-asyncio-channel&pnsdk=PubNub-Python-Asyncio%2F4.0.2
  response:
    body: {string: '{"status": 200, "message": "OK", "service": "channel-registry",
        "error": false}'}
    headers: {ACCEPT-RANGES: bytes, ACCESS-CONTROL-ALLOW-METHODS: GET, ACCESS-CONTROL-ALLOW-ORIGIN: '*',
      AGE: '0', CACHE-CONTROL: no-cache, CONNECTION: keep-alive, CONTENT-LENGTH: '79',
      CONTENT-TYPE: text/javascript; charset="UTF-8", DATE: 'Tue, 16 Aug 2016 12:39:06
        GMT', SERVER: Pubnub}
    status: {code: 200, message: OK}
    url: http://pubsub.pubnub.com/v1/channel-registration/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel-group/test-subscribe-asyncio-group?uuid=f73c5107-519c-42fd-b1e1-7f9377430082&remove=test-subscribe-asyncio-channel&pnsdk=PubNub-Python-Asyncio%2F4.0.2
version: 1
