interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ps.pndsn.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/test-subscribe-asyncio-ch/0?tt=0&uuid=test-subscribe-asyncio-uuid
  response:
    body:
      string: '{"t":{"t":"16148941680182132","r":12},"m":[]}'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status:
      code: 200
      message: OK
    url: https://ps.pndsn.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/test-subscribe-asyncio-ch/0?tt=0&pnsdk=PubNub-Python-Asyncio%2F5.0.1&uuid=test-subscribe-asyncio-uuid
- request:
    body: null
    headers:
    method: GET
    uri: https://ps.pndsn.com/publish/pub-c-739aa0fc-3ed5-472b-af26-aca1b333ec52/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/0/test-subscribe-asyncio-ch/0/%22a25pZ2h0c29mbmkxMjM0Nf61IdsMAvG1F5OWmMXjVxo%3D%22?seqn=1&uuid=test-subscribe-asyncio-uuid
  response:
    body:
      string: '[1,"Sent","16148941682656065"]'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status:
      code: 200
      message: OK
    url: https://ps.pndsn.com/publish/pub-c-739aa0fc-3ed5-472b-af26-aca1b333ec52/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/0/test-subscribe-asyncio-ch/0/%22a25pZ2h0c29mbmkxMjM0Nf61IdsMAvG1F5OWmMXjVxo%3D%22?seqn=1&pnsdk=PubNub-Python-Asyncio%2F5.0.1&uuid=test-subscribe-asyncio-uuid
- request:
    body: null
    headers:
    method: GET
    uri: https://ps.pndsn.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/test-subscribe-asyncio-ch/0?tr=12&tt=16148941680182132&uuid=test-subscribe-asyncio-uuid
  response:
    body:
      string: '{"t":{"t":"16148941682661639","r":12},"m":[{"a":"2","f":0,"i":"test-subscribe-asyncio-uuid","s":1,"p":{"t":"16148941682656065","r":12},"k":"sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe","c":"test-subscribe-asyncio-ch","d":"a25pZ2h0c29mbmkxMjM0Nf61IdsMAvG1F5OWmMXjVxo="}]}'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status:
      code: 200
      message: OK
    url: https://ps.pndsn.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/test-subscribe-asyncio-ch/0?tt=16148941680182132&tr=12&pnsdk=PubNub-Python-Asyncio%2F5.0.1&uuid=test-subscribe-asyncio-uuid
- request:
    body: null
    headers:
    method: GET
    uri: https://ps.pndsn.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/test-subscribe-asyncio-ch/leave?l_pub=0.14426803588867188&uuid=test-subscribe-asyncio-uuid
  response:
    body:
      string: '{"status": 200, "message": "OK", "action": "leave", "service": "Presence"}'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status:
      code: 200
      message: OK
    url: https://ps.pndsn.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/test-subscribe-asyncio-ch/leave?pnsdk=PubNub-Python-Asyncio%2F5.0.1&uuid=test-subscribe-asyncio-uuid&l_pub=0.14426803588867188
version: 1
