interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://pubsub.pubnub.com/v1/channel-registration/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel-group/test-subscribe-asyncio-unsubscribe-all-gr1?add=test-subscribe-asyncio-unsubscribe-all-ch&uuid=test-subscribe-asyncio-messenger&pnsdk=PubNub-Python-Asyncio%2F4.0.2
  response:
    body: {string: '{"status": 200, "message": "OK", "service": "channel-registry",
        "error": false}'}
    headers: {ACCEPT-RANGES: bytes, ACCESS-CONTROL-ALLOW-METHODS: GET, ACCESS-CONTROL-ALLOW-ORIGIN: '*',
      AGE: '0', CACHE-CONTROL: no-cache, CONNECTION: keep-alive, CONTENT-LENGTH: '79',
      CONTENT-TYPE: text/javascript; charset="UTF-8", DATE: 'Tue, 29 Nov 2016 16:48:44
        GMT', SERVER: Pubnub}
    status: {code: 200, message: OK}
    url: http://pubsub.pubnub.com/v1/channel-registration/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel-group/test-subscribe-asyncio-unsubscribe-all-gr1?add=test-subscribe-asyncio-unsubscribe-all-ch&uuid=test-subscribe-asyncio-messenger&pnsdk=PubNub-Python-Asyncio%2F4.0.2
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://pubsub.pubnub.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/test-subscribe-asyncio-unsubscribe-all-ch1,test-subscribe-asyncio-unsubscribe-all-ch3,test-subscribe-asyncio-unsubscribe-all-ch2/0?uuid=test-subscribe-asyncio-messenger&tt=0&pnsdk=PubNub-Python-Asyncio%2F4.0.2&channel-group=test-subscribe-asyncio-unsubscribe-all-gr1,test-subscribe-asyncio-unsubscribe-all-gr2
  response:
    body: {string: '{"t":{"t":"14804381257627685","r":12},"m":[]}'}
    headers: {ACCESS-CONTROL-ALLOW-METHODS: GET, ACCESS-CONTROL-ALLOW-ORIGIN: '*',
      CACHE-CONTROL: no-cache, CONNECTION: keep-alive, CONTENT-LENGTH: '45', CONTENT-TYPE: text/javascript;
        charset="UTF-8", DATE: 'Tue, 29 Nov 2016 16:48:45 GMT'}
    status: {code: 200, message: OK}
    url: http://pubsub.pubnub.com/v2/subscribe/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/test-subscribe-asyncio-unsubscribe-all-ch1,test-subscribe-asyncio-unsubscribe-all-ch3,test-subscribe-asyncio-unsubscribe-all-ch2/0?uuid=test-subscribe-asyncio-messenger&tt=0&pnsdk=PubNub-Python-Asyncio%2F4.0.2&channel-group=test-subscribe-asyncio-unsubscribe-all-gr1,test-subscribe-asyncio-unsubscribe-all-gr2
- request:
    body: null
    headers:
    method: GET
    uri: http://pubsub.pubnub.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/test-subscribe-asyncio-unsubscribe-all-ch1,test-subscribe-asyncio-unsubscribe-all-ch3,test-subscribe-asyncio-unsubscribe-all-ch2/leave?uuid=test-subscribe-asyncio-messenger&pnsdk=PubNub-Python-Asyncio%2F4.0.2&channel-group=test-subscribe-asyncio-unsubscribe-all-gr1,test-subscribe-asyncio-unsubscribe-all-gr2
  response:
    body: {string: '{"status": 200, "action": "leave", "message": "OK", "service":
        "Presence"}'}
    headers: {ACCEPT-RANGES: bytes, ACCESS-CONTROL-ALLOW-METHODS: 'OPTIONS, GET, POST',
      ACCESS-CONTROL-ALLOW-ORIGIN: '*', AGE: '0', CACHE-CONTROL: no-cache, CONNECTION: keep-alive,
      CONTENT-LENGTH: '74', CONTENT-TYPE: text/javascript; charset="UTF-8", DATE: 'Tue,
        29 Nov 2016 16:48:46 GMT', SERVER: Pubnub Presence}
    status: {code: 200, message: OK}
    url: http://pubsub.pubnub.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/test-subscribe-asyncio-unsubscribe-all-ch1,test-subscribe-asyncio-unsubscribe-all-ch3,test-subscribe-asyncio-unsubscribe-all-ch2/leave?uuid=test-subscribe-asyncio-messenger&pnsdk=PubNub-Python-Asyncio%2F4.0.2&channel-group=test-subscribe-asyncio-unsubscribe-all-gr1,test-subscribe-asyncio-unsubscribe-all-gr2
- request:
    body: null
    headers:
    method: GET
    uri: http://pubsub.pubnub.com/v1/channel-registration/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel-group/test-subscribe-asyncio-unsubscribe-all-gr1?uuid=test-subscribe-asyncio-messenger&pnsdk=PubNub-Python-Asyncio%2F4.0.2&remove=test-subscribe-asyncio-unsubscribe-all-ch
  response:
    body: {string: '{"status": 200, "message": "OK", "service": "channel-registry",
        "error": false}'}
    headers: {ACCEPT-RANGES: bytes, ACCESS-CONTROL-ALLOW-METHODS: GET, ACCESS-CONTROL-ALLOW-ORIGIN: '*',
      AGE: '0', CACHE-CONTROL: no-cache, CONNECTION: keep-alive, CONTENT-LENGTH: '79',
      CONTENT-TYPE: text/javascript; charset="UTF-8", DATE: 'Tue, 29 Nov 2016 16:48:46
        GMT', SERVER: Pubnub}
    status: {code: 200, message: OK}
    url: http://pubsub.pubnub.com/v1/channel-registration/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel-group/test-subscribe-asyncio-unsubscribe-all-gr1?uuid=test-subscribe-asyncio-messenger&pnsdk=PubNub-Python-Asyncio%2F4.0.2&remove=test-subscribe-asyncio-unsubscribe-all-ch
- request:
    body: null
    headers:
    method: GET
    uri: http://pubsub.pubnub.com/v1/channel-registration/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel-group/test-subscribe-asyncio-unsubscribe-all-gr2?uuid=test-subscribe-asyncio-messenger&pnsdk=PubNub-Python-Asyncio%2F4.0.2&remove=test-subscribe-asyncio-unsubscribe-all-ch
  response:
    body: {string: '{"status": 200, "message": "OK", "service": "channel-registry",
        "error": false}'}
    headers: {ACCEPT-RANGES: bytes, ACCESS-CONTROL-ALLOW-METHODS: GET, ACCESS-CONTROL-ALLOW-ORIGIN: '*',
      AGE: '0', CACHE-CONTROL: no-cache, CONNECTION: keep-alive, CONTENT-LENGTH: '79',
      CONTENT-TYPE: text/javascript; charset="UTF-8", DATE: 'Tue, 29 Nov 2016 16:48:46
        GMT', SERVER: Pubnub}
    status: {code: 200, message: OK}
    url: http://pubsub.pubnub.com/v1/channel-registration/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel-group/test-subscribe-asyncio-unsubscribe-all-gr2?uuid=test-subscribe-asyncio-messenger&pnsdk=PubNub-Python-Asyncio%2F4.0.2&remove=test-subscribe-asyncio-unsubscribe-all-ch
version: 1
