interactions:
- request:
    body: !!python/unicode 
    headers:
    method: GET
    uri: http://ps.pndsn.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/twisted-test/uuid/someuuid/data?pnsdk=PubNub-Python-Twisted%2F4.0.4&state=%7B%22whatever%22%3A+%22something%22%7D
  response:
    body: {string: !!python/unicode '{"status": 200, "message": "OK", "payload": {"whatever":
        "something"}, "service": "Presence"}'}
    headers: !!python/object:twisted.web.http_headers.Headers
      _rawHeaders:
        user-agent: [PubNub-Python-Twisted/4.0.4]
    status: {code: 200, message: ''}
    url: http://ps.pndsn.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/twisted-test/uuid/someuuid/data?state=%7B%22whatever%22%3A%20%22something%22%7D&pnsdk=PubNub-Python-Twisted%2F4.0.4&uuid=someuuid
version: 1
