interactions:
- request:
    body: '{"id": "mg", "name": "MAGNUM", "custom": {"XXX": "YYYY"}}'
    headers:
    method: POST
    uri: http://ps.pndsn.com/v1/objects/demo/users?include=custom
  response:
    body:
      string: '{"status":200,"data":{"id":"mg","name":"MAGNUM","externalId":null,"profileUrl":null,"email":null,"custom":{"XXX":"YYYY"},"created":"2019-08-19T21:04:00.148418Z","updated":"2019-08-19T21:04:00.148418Z","eTag":"Aaa/h+eBi9elsgE"}}'
    headers:
      Content-Type: application/json
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - http
        - ps.pndsn.com
        - /v1/objects/demo/users
        - include=custom&pnsdk=PubNub-Python-Asyncio%2F4.1.0&uuid=9065de8e-c73a-4fd8-80bc-a59644b08df8
        - ''
version: 1
