interactions:
- request:
    body: '{"id": "mg", "name": "MAGNUM", "custom": {"XXX": "YYYY"}}'
    headers:
    method: POST
    uri: https://ps.pndsn.com/v1/objects/demo/users?include=custom
  response:
    body:
      string: '{"status":200,"data":{"id":"mg","name":"MAGNUM","externalId":null,"profileUrl":null,"email":null,"custom":{"XXX":"YYYY"},"created":"2019-08-19T21:04:00.148418Z","updated":"2019-08-19T21:04:00.148418Z","eTag":"Aaa/h+eBi9elsgE"}}'
    headers:
      Content-Type: application/json
    status:
      code: 200
      message: OK
version: 1
