interactions:
- request:
    body: null
    headers:
    method: POST
    uri: http://ps.pndsn.com/v1/objects/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/users?include=%7B%22id%22%3A+%22user-1%22%2C+%22name%22%3A+%22John+Doe%22%2C+%22externalId%22%3A+null%2C+%22profileUrl%22%3A+null%2C+%22email%22%3A+%22jack%40twitter.com%22%7D
  response:
    body:
      string: "{\n  \"data\": {\n    \"created\": \"2019-02-20T23:11:20.893755\",\n\
        \    \"eTag\": \"MDcyQ0REOTUtNEVBOC00QkY2LTgwOUUtNDkwQzI4MjgzMTcwCg==\",\n\
        \    \"email\": \"jack@twitter.com\",\n    \"externalId\": null,\n    \"id\"\
        : \"user-1\",\n    \"name\": \"John Doe\",\n    \"profileUrl\": null,\n  \
        \  \"updated\": \"2019-02-20T23:11:20.893755\"\n  },\n  \"status\": \"ok\"\
        \n}"
    headers:
      Content-Type: application/json
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - http
        - ps.pndsn.com
        - /v1/objects/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/users
        - include=%7B%22id%22%3A%20%22user-1%22%2C%20%22name%22%3A%20%22John%20Doe%22%2C%20%22externalId%22%3A%20null%2C%20%22profileUrl%22%3A%20null%2C%20%22email%22%3A%20%22jack%40twitter.com%22%7D&pnsdk=PubNub-Python-Asyncio%2F4.1.0&uuid=6217bb6b-01b1-466a-a3ff-61625f616999
        - ''
version: 1
