interactions:
- request:
    body: '{"name": "number 3"}'
    headers:
    method: PATCH
    uri: https://ps.pndsn.com/v1/objects/demo/users/mg?include=custom
  response:
    body:
      string: '{"status":200,"data":{"id":"mg","name":"number 3","externalId":null,"profileUrl":null,"email":null,"custom":{"XXX":"YYYY"},"created":"2019-08-19T21:04:00.148418Z","updated":"2019-08-19T21:04:59.878283Z","eTag":"Af/+vv+glMjK3gE"}}'
    headers:
      Content-Type: application/json
    status:
      code: 200
      message: OK
version: 1
