interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v1/objects/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/users
  response:
    body:
      string: "{\n  \"data\": [\n    {\n      \"created\": \"2019-02-20T23:11:20.893755\"\
        ,\n      \"custom\": null,\n      \"eTag\": \"MDcyQ0REOTUtNEVBOC00QkY2LTgwOUUtNDkwQzI4MjgzMTcwCg==\"\
        ,\n      \"email\": \"jack@twitter.com\",\n      \"externalId\": null,\n \
        \     \"id\": \"user-1\",\n      \"name\": \"John Doe\",\n      \"profileUrl\"\
        : null,\n      \"updated\": \"2019-02-20T23:11:20.893755\"\n    },\n    {\n\
        \      \"created\": \"2019-02-19T13:10:20.893755\",\n      \"custom\": {\n\
        \        \"phone\": \"999-999-9999\"\n      },\n      \"eTag\": \"QkRENDA5MjItMUZCNC00REI5LUE4QTktRjJGNUMxNTc2MzE3Cg==\"\
        ,\n      \"email\": \"bobc@example.com\",\n      \"externalId\": null,\n \
        \     \"id\": \"user-2\",\n      \"name\": \"Bob Cat\",\n      \"profileUrl\"\
        : null,\n      \"updated\": \"2019-02-21T03:29:00.173452\"\n    }\n  ],\n\
        \  \"status\": 200\n}"
    headers:
      Content-Type: application/json
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - http
        - ps.pndsn.com
        - /v1/objects/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/users
        - pnsdk=PubNub-Python-Asyncio%2F4.1.0&uuid=2f59bc97-a946-4abe-b1f8-0efebbacde4d
        - ''
version: 1
