interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v1/objects/demo/users?include=custom
  response:
    body:
      string: '{"status":200,"data":[{"id":"3108","name":"azur","externalId":null,"profileUrl":null,"email":"491f2abe.@pn.com","custom":null,"created":"2019-08-16T07:46:33.23638Z","updated":"2019-08-16T07:54:25.842767Z","eTag":"AY3N6Ni2ubyrOA"},{"id":"OVJNQMICNO","name":"SEGFOXYJXD","externalId":null,"profileUrl":null,"email":null,"custom":null,"created":"2019-08-16T08:03:06.303625Z","updated":"2019-08-16T08:03:06.303625Z","eTag":"AdWR6Kv47fz3gAE"},{"id":"FZFATJTVGG","name":"XGHICGRVBX","externalId":null,"profileUrl":null,"email":null,"custom":null,"created":"2019-08-16T08:03:35.295516Z","updated":"2019-08-16T08:03:35.295516Z","eTag":"AcO2sKG/5t7ZVw"},{"id":"ODZDOEBNWX","name":"KUHDBKFLXI","externalId":null,"profileUr[...]
