interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/state-tornado-ch1,state-tornado-ch2/uuid/state-tornado-uuid/data?pnsdk=PubNub-Python-Tornado%2F4.0.4&state=%7B%22count%22%3A+5%2C+%22name%22%3A+%22Alex%22%7D
  response:
    body: {string: '{"status": 200, "message": "OK", "payload": {"count": 5, "name":
        "Alex"}, "service": "Presence"}'}
    headers:
    - !!python/tuple
      - Access-Control-Allow-Methods
      - ['OPTIONS, GET, POST']
    - !!python/tuple
      - Server
      - [Pubnub Presence]
    - !!python/tuple
      - Accept-Ranges
      - [bytes]
    - !!python/tuple
      - Content-Length
      - ['96']
    - !!python/tuple
      - Date
      - ['Wed, 10 Aug 2016 07:39:00 GMT']
    - !!python/tuple
      - Cache-Control
      - [no-cache]
    - !!python/tuple
      - Content-Type
      - [text/javascript; charset="UTF-8"]
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Age
      - ['0']
    - !!python/tuple
      - Access-Control-Allow-Origin
      - ['*']
    status: {code: 200, message: OK}
    url: http://ps.pndsn.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/state-tornado-ch1,state-tornado-ch2/uuid/state-tornado-uuid/data?pnsdk=PubNub-Python-Tornado%2F4.0.4&state=%7B%22count%22%3A%205%2C%20%22name%22%3A%20%22Alex%22%7D&uuid=state-tornado-uuid
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/state-tornado-ch1,state-tornado-ch2/uuid/state-tornado-uuid?pnsdk=PubNub-Python-Tornado%2F4.0.4
  response:
    body: {string: '{"status": 200, "message": "OK", "payload": {"channels": {"state-tornado-ch2":
        {"count": 5, "name": "Alex"}, "state-tornado-ch1": {"count": 5, "name": "Alex"}}},
        "service": "Presence", "uuid": "state-tornado-uuid"}'}
    headers:
    - !!python/tuple
      - Access-Control-Allow-Methods
      - ['OPTIONS, GET, POST']
    - !!python/tuple
      - Server
      - [Pubnub Presence]
    - !!python/tuple
      - Accept-Ranges
      - [bytes]
    - !!python/tuple
      - Content-Length
      - ['214']
    - !!python/tuple
      - Date
      - ['Wed, 10 Aug 2016 07:39:01 GMT']
    - !!python/tuple
      - Cache-Control
      - [no-cache]
    - !!python/tuple
      - Content-Type
      - [text/javascript; charset="UTF-8"]
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Age
      - ['0']
    - !!python/tuple
      - Access-Control-Allow-Origin
      - ['*']
    status: {code: 200, message: OK}
    url: http://ps.pndsn.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/state-tornado-ch1,state-tornado-ch2/uuid/state-tornado-uuid?pnsdk=PubNub-Python-Tornado%2F4.0.4&uuid=state-tornado-uuid
version: 1
