interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ps.pndsn.com/v1/files/sub-c-mock-key/channels/files_native_threads_ch/files?pnsdk=PubNub-Python%2F4.5.4&uuid=files_threads_uuid
  response:
    body:
      string: '{"status":200,"data":[{"name":"king_arthur.txt","id":"47811ab3-ff1b-48ae-8717-ac0afdd4b51e","size":19,"created":"2020-10-21T17:15:52Z"}],"next":null,"count":1}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
