interactions:
- request:
    body: '{"name": "Some name", "description": "Some description", "custom": {"key1":
      "val1", "key2": "val2"}}'
    headers:
    method: PATCH
    uri: https://ps.pndsn.com/v2/objects/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channels/somechannelid?include=custom
  response:
    body:
      string: '{"status":200,"data":{"id":"somechannelid","name":"Some name","description":"Some
        description","custom":{"key1":"val1","key2":"val2"},"updated":"2020-09-30T13:58:47.604494Z","eTag":"AdyzhpyljqSqHA"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://ps.pndsn.com/v2/objects/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channels?count=True&include=custom&limit=10&sort=id%3Aasc%2Cupdated%3Adesc
  response:
    body:
      string: '{"status":200,"data":[{"id":"somechannelid","name":"Some name","description":"Some
        description","custom":{"key1":"val1","key2":"val2"},"updated":"2020-09-30T13:58:47.604494Z","eTag":"AdyzhpyljqSqHA"}],"totalCount":1,"next":"MQ"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
