interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ps.pndsn.com/v2/auth/grant/sub-key/sub-c-7ba2ac4c-4836-11e6-85a4-0619f8945a4f?r=1&uuid=my_uuid&w=1
  response:
    body:
      string: '{"message":"Success","payload":{"level":"subkey","subscribe_key":"sub-c-7ba2ac4c-4836-11e6-85a4-0619f8945a4f","ttl":1440,"r":1,"w":1,"m":0,"d":0,"g":0,"u":0,"j":0},"service":"Access
        Manager","status":200}'
    headers:
      Content-Type: text/javascript; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://ps.pndsn.com/v2/auth/grant/sub-key/sub-c-7ba2ac4c-4836-11e6-85a4-0619f8945a4f?g=0&j=0&m=0&r=0&u=0&uuid=my_uuid&w=0
  response:
    body:
      string: '{"message":"Success","payload":{"level":"subkey","subscribe_key":"sub-c-7ba2ac4c-4836-11e6-85a4-0619f8945a4f","ttl":1,"r":0,"w":0,"m":0,"d":0,"g":0,"u":0,"j":0},"service":"Access
        Manager","status":200}'
    headers:
      Content-Type: text/javascript; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
