interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v2/auth/grant/sub-key/sub-c-7ba2ac4c-4836-11e6-85a4-0619f8945a4f?r=1&uuid=my_uuid&w=1
  response:
    body:
      string: '{"message":"Success","payload":{"level":"subkey","subscribe_key":"sub-c-7ba2ac4c-4836-11e6-85a4-0619f8945a4f","ttl":1440,"r":1,"w":1,"m":0,"d":0},"service":"Access
        Manager","status":200}'
    headers:
      Content-Type: text/javascript; charset=UTF-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - http
        - ps.pndsn.com
        - /v2/auth/grant/sub-key/sub-c-7ba2ac4c-4836-11e6-85a4-0619f8945a4f
        - pnsdk=PubNub-Python-Asyncio%2F4.1.0&r=1&signature=v2.M8jqdYI2ejBcOZgPxzjie18ZaCB1wZ9WysQZK7HVw6Y&timestamp=1577189138&uuid=my_uuid&w=1
        - ''
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v2/auth/grant/sub-key/sub-c-7ba2ac4c-4836-11e6-85a4-0619f8945a4f?m=0&r=0&uuid=my_uuid&w=0
  response:
    body:
      string: '{"message":"Success","payload":{"level":"subkey","subscribe_key":"sub-c-7ba2ac4c-4836-11e6-85a4-0619f8945a4f","ttl":1,"r":0,"w":0,"m":0,"d":0},"service":"Access
        Manager","status":200}'
    headers:
      Content-Type: text/javascript; charset=UTF-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - http
        - ps.pndsn.com
        - /v2/auth/grant/sub-key/sub-c-7ba2ac4c-4836-11e6-85a4-0619f8945a4f
        - l_pam=0.07717299461364746&m=0&pnsdk=PubNub-Python-Asyncio%2F4.1.0&r=0&signature=v2.HCUzgODNtMLvsSiK-f0lD0GOVEfzilmWABRKpYDG6cQ&timestamp=1577189138&uuid=my_uuid&w=0
        - ''
version: 1
