interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://pubsub.pubnub.com/v1/auth/grant/sub-key/sub-c-7ba2ac4c-4836-11e6-85a4-0619f8945a4f
  response:
    body: {string: '{"message":"Success","payload":{"level":"channel","subscribe_key":"sub-c-7ba2ac4c-4836-11e6-85a4-0619f8945a4f","ttl":1440,"channels":{"test-pam-asyncio-ch1":{"r":1,"w":1,"m":0},"test-pam-asyncio-ch2":{"r":1,"w":1,"m":0}}},"service":"Access
        Manager","status":200}'}
    headers: {ACCESS-CONTROL-ALLOW-HEADERS: 'Origin, X-Requested-With, Content-Type,
        Accept', ACCESS-CONTROL-ALLOW-METHODS: GET, ACCESS-CONTROL-ALLOW-ORIGIN: '*',
      CACHE-CONTROL: 'no-cache, no-store, must-revalidate', CONNECTION: keep-alive,
      CONTENT-LENGTH: '262', CONTENT-TYPE: text/javascript; charset=UTF-8, DATE: 'Mon,
        15 Aug 2016 17:48:10 GMT'}
    status: {code: 200, message: OK}
    url: http://pubsub.pubnub.com/v1/auth/grant/sub-key/sub-c-7ba2ac4c-4836-11e6-85a4-0619f8945a4f?channel=test-pam-asyncio-ch1,test-pam-asyncio-ch2&pnsdk=PubNub-Python-Asyncio%2F4.0.0&r=1&signature=KI61E_iS5pXVI7_pUCdBvCcU-WyyrnpaaNxh8ck74l4=&timestamp=1471283290&uuid=test-pam-asyncio-uuid&w=1
- request:
    body: null
    headers:
    method: GET
    uri: http://pubsub.pubnub.com/v1/auth/audit/sub-key/sub-c-7ba2ac4c-4836-11e6-85a4-0619f8945a4f
  response:
    body: {string: '{"message":"Success","payload":{"level":"channel","subscribe_key":"sub-c-7ba2ac4c-4836-11e6-85a4-0619f8945a4f","channels":{"test-pam-asyncio-ch2":{"r":1,"m":0,"w":1,"ttl":1440},"test-pam-asyncio-ch1":{"r":1,"m":0,"w":1,"ttl":1440}}},"service":"Access
        Manager","status":200}'}
    headers: {ACCESS-CONTROL-ALLOW-HEADERS: 'Origin, X-Requested-With, Content-Type,
        Accept', ACCESS-CONTROL-ALLOW-METHODS: GET, ACCESS-CONTROL-ALLOW-ORIGIN: '*',
      CACHE-CONTROL: 'no-cache, no-store, must-revalidate', CONNECTION: keep-alive,
      CONTENT-LENGTH: '273', CONTENT-TYPE: text/javascript; charset=UTF-8, DATE: 'Mon,
        15 Aug 2016 17:48:10 GMT'}
    status: {code: 200, message: OK}
    url: http://pubsub.pubnub.com/v1/auth/audit/sub-key/sub-c-7ba2ac4c-4836-11e6-85a4-0619f8945a4f?channel=test-pam-asyncio-ch1,test-pam-asyncio-ch2&pnsdk=PubNub-Python-Asyncio%2F4.0.0&signature=OLE5ZYD8PCVzW60LiHz3hFRQgMWXBtW9Z6MTsz4RIJ0=&timestamp=1471283290&uuid=test-pam-asyncio-uuid
version: 1
