interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ps.pndsn.com/v2/auth/grant/sub-key/sub-c-7ba2ac4c-4836-11e6-85a4-0619f8945a4f?channel-group=test-pam-asyncio-cg1%2Ctest-pam-asyncio-cg2&r=1&uuid=my_uuid&w=1
  response:
    body:
      string: '{"message":"Success","payload":{"level":"channel-group","subscribe_key":"sub-c-7ba2ac4c-4836-11e6-85a4-0619f8945a4f","ttl":1440,"channel-groups":{"test-pam-asyncio-cg1":{"r":1,"w":1,"m":0,"d":0},"test-pam-asyncio-cg2":{"r":1,"w":1,"m":0,"d":0}}},"service":"Access
        Manager","status":200}'
    headers:
      Content-Type: text/javascript; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
