interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://pubsub.pubnub.com/publish/pub-c-98863562-19a6-4760-bf0b-d537d1f5c582/sub-c-7ba2ac4c-4836-11e6-85a4-0619f8945a4f/0/blah/0/%22hi%22?pnsdk=PubNub-Python-Asyncio%2F4.0.0&seqn=1&uuid=my_uuid
  response:
    body: {string: '{"message":"Forbidden","payload":{"channels":["blah"]},"error":true,"service":"Access
        Manager","status":403}

'}
    headers: {ACCESS-CONTROL-ALLOW-HEADERS: 'Origin, X-Requested-With, Content-Type,
        Accept', ACCESS-CONTROL-ALLOW-METHODS: GET, ACCESS-CONTROL-ALLOW-ORIGIN: '*',
      CACHE-CONTROL: 'no-cache, no-store, must-revalidate', CONNECTION: keep-alive,
      CONTENT-ENCODING: gzip, CONTENT-TYPE: text/javascript; charset=UTF-8, DATE: 'Fri,
        14 Oct 2016 12:51:06 GMT', SERVER: nginx, TRANSFER-ENCODING: chunked, X-BLOCKS-ENABLED: '0'}
    status: {code: 403, message: Forbidden}
    url: http://pubsub.pubnub.com/publish/pub-c-98863562-19a6-4760-bf0b-d537d1f5c582/sub-c-7ba2ac4c-4836-11e6-85a4-0619f8945a4f/0/blah/0/%22hi%22?seqn=1&uuid=my_uuid&timestamp=1476449465&pnsdk=PubNub-Python-Asyncio%2F4.0.0
version: 1
