interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://pubsub.pubnub.com/v1/auth/grant/sub-key/sub-c-7ba2ac4c-4836-11e6-85a4-0619f8945a4f?channel=test-pam-asyncio-ch&pnsdk=PubNub-Python-Asyncio%2F4.0.0&r=1&uuid=my_uuid&w=1
  response:
    body: {string: '{"message":"Success","payload":{"level":"channel","subscribe_key":"sub-c-7ba2ac4c-4836-11e6-85a4-0619f8945a4f","ttl":1440,"channels":{"test-pam-asyncio-ch":{"r":1,"w":1,"m":0}}},"service":"Access
        Manager","status":200}'}
    headers: {ACCESS-CONTROL-ALLOW-HEADERS: 'Origin, X-Requested-With, Content-Type,
        Accept', ACCESS-CONTROL-ALLOW-METHODS: GET, ACCESS-CONTROL-ALLOW-ORIGIN: '*',
      CACHE-CONTROL: 'no-cache, no-store, must-revalidate', CONNECTION: keep-alive,
      CONTENT-LENGTH: '218', CONTENT-TYPE: text/javascript; charset=UTF-8, DATE: 'Wed,
        17 Aug 2016 08:47:52 GMT'}
    status: {code: 200, message: OK}
    url: http://pubsub.pubnub.com/v1/auth/grant/sub-key/sub-c-7ba2ac4c-4836-11e6-85a4-0619f8945a4f?channel=test-pam-asyncio-ch&pnsdk=PubNub-Python-Asyncio%2F4.0.0&r=1&signature=zG6ZazohUxDorfsRvu7NEjILp-9meyWFDQRcUYs5txo=&timestamp=1471423672&uuid=my_uuid&w=1
- request:
    body: null
    headers:
    method: GET
    uri: http://pubsub.pubnub.com/v1/auth/audit/sub-key/sub-c-7ba2ac4c-4836-11e6-85a4-0619f8945a4f?channel=test-pam-asyncio-ch&pnsdk=PubNub-Python-Asyncio%2F4.0.0&uuid=my_uuid
  response:
    body: {string: '{"message":"Success","payload":{"level":"channel","subscribe_key":"sub-c-7ba2ac4c-4836-11e6-85a4-0619f8945a4f","channels":{"test-pam-asyncio-ch":{"r":1,"m":0,"w":1,"ttl":1440}}},"service":"Access
        Manager","status":200}'}
    headers: {ACCESS-CONTROL-ALLOW-HEADERS: 'Origin, X-Requested-With, Content-Type,
        Accept', ACCESS-CONTROL-ALLOW-METHODS: GET, ACCESS-CONTROL-ALLOW-ORIGIN: '*',
      CACHE-CONTROL: 'no-cache, no-store, must-revalidate', CONNECTION: keep-alive,
      CONTENT-LENGTH: '218', CONTENT-TYPE: text/javascript; charset=UTF-8, DATE: 'Wed,
        17 Aug 2016 08:47:53 GMT'}
    status: {code: 200, message: OK}
    url: http://pubsub.pubnub.com/v1/auth/audit/sub-key/sub-c-7ba2ac4c-4836-11e6-85a4-0619f8945a4f?channel=test-pam-asyncio-ch&pnsdk=PubNub-Python-Asyncio%2F4.0.0&signature=IBN5SIxPY_A2D4T6TGaArXRgAdLj0XHxlmDZt2SmCBs=&timestamp=1471423672&uuid=my_uuid
version: 1
