name: Validations

on: [push]

jobs:
  lint:
    name: Lint project
    runs-on:
      group: Default Larger Runners
      labels: ubuntu-latest-m
    steps:
      - name: Checkout project
        uses: actions/checkout@v3
      - name: Setup Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install Python dependencies and run acceptance tests
        run: |
            sudo pip3 install -r requirements-dev.txt
            flake8 --exclude=scripts/,src/,.cache,.git,.idea,.tox,._trial_temp/,venv/ --ignore F811,E402
      - name: Cancel workflow runs for commit on error
        if: failure()
        uses: ./.github/.release/actions/actions/utils/fast-jobs-failure
  pubnub-yml:
    name: "Validate .pubnub.yml"
    runs-on:
      group: Default Larger Runners
      labels: ubuntu-latest-m
    steps:
      - name: Checkout project
        uses: actions/checkout@v3
      - name: Checkout validator action
        uses: actions/checkout@v3
        with:
          repository: pubnub/client-engineering-deployment-tools
          ref: v1
          token: ${{ secrets.GH_TOKEN }}
          path: .github/.release/actions
      - name: "Run '.pubnub.yml' file validation"
        uses: ./.github/.release/actions/actions/validators/pubnub-yml
        with:
          token: ${{ secrets.GH_TOKEN }}
      - name: Cancel workflow runs for commit on error
        if: failure()
        uses: ./.github/.release/actions/actions/utils/fast-jobs-failure
  all-validations:
    name: Validations
    runs-on:
      group: Default Larger Runners
      labels: ubuntu-latest-m
    needs: [pubnub-yml, lint]
    steps:
      - name: Validations summary
        run: echo -e "\033[38;2;95;215;0m\033[1mAll validations passed"
