interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v1/objects/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/spaces/main/users?count=True&include=%5B%22custom%22%2C+%22user%22%5D&limit=10
  response:
    body:
      string: "{\n  \"data\": [\n    {\n      \"created\": \"2019-02-20T23:11:20.893755\"\
        ,\n      \"custom\": {\n        \"role\": \"admin\"\n      },\n      \"eTag\"\
        : \"QkRENDA5MjItMUZCNC00REI5LUE4QTktRjJGNUMxNTc2MzE3Cg==\",\n      \"id\"\
        : \"user-1\",\n      \"updated\": \"2019-02-20T23:11:20.893755\",\n      \"\
        user\": {\n        \"created\": \"2019-02-20T23:11:20.893755\",\n        \"\
        custom\": null,\n        \"eTag\": \"MDcyQ0REOTUtNEVBOC00QkY2LTgwOUUtNDkwQzI4MjgzMTcwCg==\"\
        ,\n        \"email\": \"jack@twitter.com\",\n        \"externalId\": null,\n\
        \        \"id\": \"user-1\",\n        \"name\": \"John Doe\",\n        \"\
        profileUrl\": null,\n        \"updated\": \"2019-02-20T23:11:20.893755\"\n\
        \      }\n    },\n    {\n      \"created\": \"2019-02-20T23:11:20.893755\"\
        ,\n      \"custom\": {\n        \"role\": \"moderator\"\n      },\n      \"\
        eTag\": \"QkRENDA5MjItMUZCNC00REI5LUE4QTktRjJGNUMxNTc2MzE3Cg==\",\n      \"\
        id\": \"user-2\",\n      \"updated\": \"2019-02-20T23:11:20.893755\",\n  \
        \    \"user\": {\n        \"created\": \"2019-02-19T13:10:20.893755\",\n \
        \       \"custom\": {\n          \"phone\": \"999-999-9999\"\n        },\n\
        \        \"eTag\": \"QkRENDA5MjItMUZCNC00REI5LUE4QTktRjJGNUMxNTc2MzE3Cg==\"\
        ,\n        \"email\": \"bobc@example.com\",\n        \"externalId\": null,\n\
        \        \"id\": \"user-2\",\n        \"name\": \"Bob Cat\",\n        \"profileUrl\"\
        : null,\n        \"updated\": \"2019-02-21T03:29:00.173452\"\n      }\n  \
        \  }\n  ],\n  \"next\": \"RDIwQUIwM0MtNUM2Ni00ODQ5LUFGRjMtNDk1MzNDQzE3MUVCCg==\"\
        ,\n  \"prev\": \"MzY5RjkzQUQtNTM0NS00QjM0LUI0M0MtNjNBQUFGODQ5MTk2Cg==\",\n\
        \  \"status\": 200,\n  \"totalCount\": 37\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
