interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ps.pndsn.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/state-native-sync-ch/uuid/state-native-sync-uuid
  response:
    body:
      string: '{"status": 200, "message": "OK", "payload": {"count": 5, "name": "Alex"},
        "uuid": "state-native-sync-uuid", "channel": "state-native-sync-ch", "service":
        "Presence"}'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status:
      code: 200
      message: OK
version: 1
