interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/state-native-sync-ch/uuid/state-native-sync-uuid/data?state=%7B%22count%22%3A+5%2C+%22name%22%3A+%22Alex%22%7D
  response:
    body: {string: '{"status": 200, "message": "OK", "payload": {"count": 5, "name":
        "Alex"}, "service": "Presence"}'}
    headers:
      Content-Type: [text/javascript; charset="UTF-8"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://ps.pndsn.com/v2/presence/sub-key/sub-c-33f55052-190b-11e6-bfbc-02ee2ddab7fe/channel/state-native-sync-ch/uuid/state-native-sync-uuid
  response:
    body: {string: '{"status": 200, "uuid": "state-native-sync-uuid", "service": "Presence",
        "message": "OK", "payload": {"count": 5, "name": "Alex"}, "channel": "state-native-sync-ch"}'}
    headers:
      Content-Type: [text/javascript; charset="UTF-8"]
    status: {code: 200, message: OK}
version: 1
